<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ItemMapper">
	<select id="select" parameterType="Integer" resultType="Item">
		SELECT * FROM item WHERE item_id=#{item_id}
	</select>
	<select id="selectall" resultType="Item">
		SELECT * FROM item
	</select>
	<insert id="insert" parameterType="Item">
		INSERT INTO item VALUES(#{item_id},#{designer_id},#{item_name},#{item_price},#{item_photo})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM item WHERE item_id=#{item_id}
	</delete>
	<update id="update" parameterType="Item">
		UPDATE item SET item_name=#{item_name}, item_price=#{item_price}, item_photo=#{item_photo}
		WHERE item_id=#{item_id}
	</update>
	<select id="reviewitemselect" parameterType="Integer" resultType="Item">
		SELECT i.item_id, i.item_name FROM item i
		INNER JOIN resv res ON i.item_id = res.item_id WHERE res.resv_no = #{resv_no}
	</select>
</mapper>