<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ResvMapper">
	
	<select id="select" parameterType="Integer" resultType="Resv">
		SELECT * FROM resv WHERE resv_no=#{resv_no}
	</select>
	<select id="selectall" resultType="Resv">
		SELECT * FROM resv
	</select>
	<select id="userResv" parameterType="String" resultType="Resv">
		SELECT d.dog_name,d.dog_photo,de.designer_name,i.item_name,i.item_price,re.resv_no,re.resv_fix,DATE_FORMAT(sc.sc_date, CONCAT('%y','.','%m','.','%d',' | ','%H','시')) sc_date
		FROM resv re
		INNER JOIN dog d ON re.dog_id=d.dog_id
		INNER JOIN item i ON re.item_id=i.item_id
		INNER JOIN designer de ON re.designer_id=de.designer_id
		INNER JOIN schedule sc ON re.resv_no=sc.resv_no
		WHERE re.useremail=#{useremail}
		ORDER BY sc.sc_date desc
	</select>
	<select id="visit" parameterType="String" resultType="Resv">
		SELECT d.dog_name,d.dog_photo,de.designer_name,i.item_name,i.item_price,re.resv_no,DATE_FORMAT(sc.sc_date, CONCAT('%Y','년 ','%m','월 ','%d','일')) sc_date
		FROM resv re
		INNER JOIN dog d ON re.dog_id=d.dog_id
		INNER JOIN item i ON re.item_id=i.item_id
		INNER JOIN designer de ON re.designer_id=de.designer_id
		INNER JOIN schedule sc ON re.resv_no=sc.resv_no
		WHERE re.useremail=#{useremail} AND re.resv_fix=1
		ORDER BY sc.sc_date desc
	</select>
	<insert id="insert" parameterType="Resv">
		INSERT INTO resv VALUES (#{resv_no}, #{useremail}, #{dog_id}, #{designer_id}, #{item_id}, #{resv_ask}, #{resv_fix})
	</insert>
	<update id="update" parameterType="Resv">
		UPDATE resv SET resv_ask=#{resv_ask}, resv_fix=#{resv_fix} WHERE resv_no=#{resv_no}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM resv WHERE resv_no=#{resv_no}
	</delete>
	<select id="resvcnt" parameterType="String" resultType="Integer">
		SELECT COUNT(res.resv_fix) resvcnt FROM resv res
		INNER JOIN user us ON us.useremail = res.useremail WHERE res.resv_fix = 1 and us.useremail=#{useremail}
	</select>
	
</mapper>