<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ReviewMapper">
	
	<select id="select" parameterType="Integer" resultType="Review">
		SELECT * FROM review WHERE review_no=#{review_no}
	</select>
	
	<select id="selectall" resultType="Review">
		SELECT * FROM review
	</select>
	
	<insert id="insert" parameterType="Review">
		INSERT INTO review VALUES (0,#{useremail},#{designer_id},#{dog_id},#{review_title},#{review_content},#{review_photo},NOW())
	</insert>
	
	<update id="update" parameterType="Review">
		UPDATE review SET review_title=#{review_title}, review_content=#{review_content}, review_photo=#{review_photo} WHERE useremail=#{useremail}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM review WHERE review_no=#{review_no}
	</delete>
	
</mapper>