<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ReviewMapper">
	
	<select id="select" parameterType="Integer" resultType="Review">
		SELECT re.review_no, re.useremail, re.review_title, re.review_content, de.designer_id, de.designer_name, d.dog_id, d.dog_name, re.review_photo, re.review_date FROM review re
        INNER JOIN dog d ON re.dog_id = d.dog_id
        INNER JOIN designer de ON de.designer_id = re.designer_id WHERE review_no=#{review_no}
	</select>
	
	<select id="selectall" resultType="Review">
		SELECT * FROM review
	</select>
	
	<insert id="insert" parameterType="Review">
		INSERT INTO review VALUES (0,#{useremail},#{designer_id},#{dog_id},#{review_title},#{review_content},#{review_photo},NOW())
	</insert>
	
	<update id="update" parameterType="Review">
		UPDATE review SET review_title=#{review_title}, review_content=#{review_content}, review_photo=#{review_photo} WHERE review_no=#{review_no}
	</update>
	
	<update id="nopicUpdate" parameterType="Review">
		UPDATE review SET review_title=#{review_title}, review_content=#{review_content} WHERE review_no=#{review_no}
		
	</update>
	
	<delete id="reviewDelete" parameterType="Integer">
		DELETE FROM review WHERE review_no=#{review_no}
	</delete>
	
	<select id="reviewselect" parameterType="String" resultType="Review">
		SELECT re.review_no, re.review_title, re.review_content, de.designer_name, d.dog_name, re.review_photo, re.review_date FROM review re
        INNER JOIN dog d ON re.dog_id = d.dog_id
        INNER JOIN resv rv ON rv.dog_id = d.dog_id
        INNER JOIN schedule sc ON sc.resv_no = rv.resv_no
        INNER JOIN designer de ON de.designer_id = sc.designer_id WHERE rv.resv_fix = 1
	</select>
	
	<select id="review_count" parameterType="String" resultType="Integer">
		SELECT COUNT(review_title) review_count FROM review
		WHERE useremail = #{useremail}
	</select>
	
</mapper>