<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.UserMapper">
	
	<select id="select" parameterType="String" resultType="User">
		SELECT * FROM user WHERE useremail=#{useremail}
	</select>
	
	<select id="selectall" resultType="User">
		SELECT * FROM user
	</select>
	
	<select id="findemail" resultType="String">
		SELECT useremail FROM user WHERE username=#{username} AND tel=#{tel}
	</select>
	
	<select id="findpwd" resultType="String">
		SELECT userpwd FROM user WHERE useremail=#{useremail}
	</select>
	
	<insert id="insert" parameterType="User">
		INSERT INTO user VALUES (#{useremail},#{userpwd},#{username},#{birth},#{tel},#{addr},#{detaddr},#{zipcode},NOW())
	</insert>
	
	<update id="update" parameterType="User">
		UPDATE user SET username=#{username},addr=#{addr}, zipcode=#{zipcode} WHERE useremail=#{useremail}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM user WHERE useremail=#{useremail}
	</delete>
	
	<select id="checkId" parameterType = "String" resultType = "int">
 	 	SELECT COUNT(*) FROM user WHERE useremail = #{useremail}
 	 </select>
	
</mapper>