<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:replace="fragments :: boot"></script>
<meta charset="UTF-8">
</head>
<body>
<section style="background-color:#f8f2e277;">
<div class="container">
   	<div class="row no-gutters justify-content-center">
      	<div class="col-md-9 ftco-animate pb-5 text-center">
       	<h1 class="breadcrumbs" style="margin-top:5%;">비밀번호 재설정이 완료되었습니다!</h1>
       	<h1 class="mb-0 bread">로그인 후 서비스를 이용해주세요 :)</h1></br>
       	<h1><a th:href="@{/login}">로그인 하러가기</a></h1>
     	</div>
   	</div>
</div>
</section>
</body>
</html>