<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<section style="background-color: #f5dcb7;">
<div class="container">
   	<div class="row no-gutters justify-content-center">
      	<div class="col-md-9 ftco-animate pb-5 text-center">
       	<h1 class="breadcrumbs" style="margin-top:5%;" th:text="|${name}님 회원가입이 완료되었습니다!|"></h1>
       	<h1 class="mb-0 bread">로그인 후 서비스를 이용해주세요 :)</h1>
     	</div>
   	</div>
</div>
</section>
</body>
</html>