<div th:fragment="main">
<style>

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}
.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    text-align:right;
    border-right:1px solid #c4c4c4;
}
.card .card-sub{
	margin-bottom:10px;
}

notice-content .card-body {
  margin-bottom:10px;
}
.notice-content div{
text-align:left;
}

.notice-img{
width:300px;
}

.mb-30 div{
margin-bottom:30px;
}

.card-body img{
max-width:100%;
}
.card-body div{
max-width:100%;
white-space: pre-line;
}

</style>

<script>
function delcheck(){
		let c = confirm('공지사항을 삭제하시겠습니까?');
		if (!c){
			alert('글 삭제가 취소되었습니다.');
			event.preventDefault();
		}
}
$(document).ready(function(){
	

$('.noticepic').on('click',function(){
	var src = $(this).attr("src");
	$('#noticePhotoBody').attr("src",src);
})

$('#backbtn').on('click',function(){
	history.back();
})


})
</script>
<span class="listtitle">공지사항</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="notice-update" th:href="@{/noticeUpdatePage(sn_no=${sn.sn_no})}"><i data-feather="edit" class="some-add-icon"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="notice-del" th:href="@{/noticeDelete(no=${sn.sn_no},filename=${sn.sn_photo})}" onclick="delcheck()"><i data-feather="x-square" class="some-add-icon"></i></a>
<div class="mygap-sm"></div>
<div class="container text-center notice-content card">
  <div class="row card-body">
    <div class="col-2 card-title">NO.</div>
    <div class="col-10 card-sub" th:text="${sn.sn_no}" ></div>
  </div>
  <div class="row card-body">
    <div class="col-2 card-title">제목</div>
    <div class="col-10 card-sub" th:text="${sn.sn_title}" ></div>
  </div>
  <div class="row card-body">
    <div class="col-2 card-title">작성자</div>
    <div class="col-10 card-sub" th:text="${sn.admin_id}" ></div>
  </div>
  <div class="row card-body mb-30">
  	<div class="col-2 card-title">내용</div>
  	<div class="col-10 card-sub" th:text="${sn.sn_content}"></div>
  </div>
<div class="row card-body" th:if="${sn.sn_photo == null}">
	<div class="col-2 card-title">첨부 사진</div>
  	<div class="notice-img col-10 card-sub">없음</div>
  </div>

<div class="row card-body" th:unless="${sn.sn_photo == null}">
  	<div class="col-2 card-title">첨부 사진
  	( 사진 클릭시 확대 )</div>
  	<div class="notice-img col-10 card-sub"><img th:src="'/jyassets/img/'+${sn.sn_photo}" data-bs-toggle="modal" data-bs-target="#noticePhotoModal" class="rounded mx-auto d-block noticepic"></div>
  </div>

  </div>
  
  <div class="mygap-sm"></div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary col-2" id="backbtn" type="button">돌아가기</button>
</div>

  <div class="mygap-lg"></div>


 <!-- Photo Modal -->
<div class="modal fade" id="noticePhotoModal" tabindex="-1" aria-labelledby="noticePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="noticePhoto"></h1>
      </div>
      <div class="modal-body">
        <img id="noticePhotoBody" class="img-fluid">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- end of main -->
</div>