<div th:fragment="main">
<style>

.tickets-container{

 box-shadow: 0 0 3px rgba(0,0,0,.2);
    border: 2px solid #fff;
}
th, td{
	line-height:35px;
	 box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.tickets-container .tickets-list .ticket-item .ticket-state i {
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}
.tickets-container .tickets-list .ticket-item .ticket-state {
    position: absolute;
    top: 13px;
    right: -12px;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e5e5e5;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    border: 2px solid #fff;
}
.bg-palegreen {
    background-color: #a0d468!important;
}
.tickets-container .tickets-list .ticket-item .ticket-type .type {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.tickets-container .tickets-list .ticket-item .ticket-type {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}
.tickets-container .tickets-list .ticket-item .ticket-time i {
    color: #ccc;
    width:50px;
}

.tickets-container .tickets-list .ticket-item .divider {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 1px;
    background-color: #eee;
    display: inline-block;
}
.tickets-container .tickets-list .ticket-item .ticket-time {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}

.tickets-container .tickets-list .ticket-item .ticket-user .user-company {
    margin-left: 2px;
    color: #999;
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-at {
    margin-left: 2px;
    color: #ccc;
    font-size: 13px;
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-name {
    margin-left: 5px;
    font-size: 13px;
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}
.tickets-container .tickets-list .ticket-item .ticket-user {
    height: 50px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tickets-container .tickets-list .ticket-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 8px;
    padding: 0 15px;
    vertical-align: top;
}
.tickets-container .tickets-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.tickets-container {
    position: relative;
    padding: 25px 25px;
    background-color: #f5f5f5;
}
.widget-main.no-padding {
    padding: 0;
}
.widget-main {
    padding: 12px;
}
.no-padding {
    padding: 0!important;
}
.widget-body {
    background-color: #fbfbfb;
    -webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
}

.widget-header>.widget-caption {
    line-height: 33px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400!important;
    font-size: 13px;
}

.widget-header .widget-icon {
    display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 111%;
    line-height: 32px;
    text-align: center;
    margin-left: -10px;
}
.themesecondary {
    color: #5bc0de !important;
}
.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}
.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    color: #555;
    padding-left: 12px;
    text-align: right;
}
.bordered-themesecondary {
    border-color: #5bc0de !important;
}
.widget-box {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 3px 0 30px 0;
}                    
</style>
<script>


window.onpageshow = function(event) {
    if ( event.persisted ) {
    	document.location.reload();
    }
};


function addLi(totalPages){
	 urlParams = new URLSearchParams(window.location.search);
		var pValue = parseInt(urlParams.get('page'));

	var pagination = $("#pagination");
    for (var i = 1; i <= totalPages; i++) {
    	if(pValue==i) {
    		var pageItem = $("<li>").addClass("page-item active");
    		
    	}else{
    		var pageItem = $("<li>").addClass("page-item");
    	}
        
        var pageLink = $("<a>").addClass("page-link").attr("href", "/reservation?page=" + i).text(i);
        pageItem.append(pageLink);
        pagination.append(pageItem);
    }
   
	
}


function testingNowPaging(){

	$.ajax({
	       url: '[[@{/resvTotalPage}]]',
	       success: function(totalPages) {
				
	          addLi(totalPages);
	       }
	   });
	   
}

$(document).ready(function(){
	
	
	$('.resvFixed').hover(function(){
			$(this).children().removeClass('btn-success');
			$(this).children().removeClass('disabled');
			$(this).children().addClass('btn-primary');
			$(this).children().html('예약 확인  &raquo;');
	},function(){
		$(this).children().removeClass('btn-danger');
		$(this).children().addClass('btn-success');
		$(this).children().addClass('disabled');
		$(this).children().text('확정된 예약');
		
	})
	
	testingNowPaging();

})
</script>

<div class="listtitle">예약 목록</div>
<div class="pull-right">
  <ul id="pagination" class="pagination justify-content-center">
  </ul>
<table class="table table-hover tickets-container">
  <thead>
    <tr>
      <th scope="col" width="10%">#</th>
      <th scope="col" width="15%">예약자</th>
         <th scope="col" width="15%">반려견</th>
      <th scope="col" width="15%">디자이너</th>
      <th scope="col" width="15%">메뉴</th>
      <th scope="col" width="20%">예약 확인 &nbsp;&nbsp;<span class="badge bg-danger" th:text="${rcheck}">New</span></th>
    </tr>
  </thead>
  <tbody class="table-group-divider tickets-list">
    <tr th:each="r:${rlist}" class="ticket-item">
      <th scope="row" th:text="${r.resv_no}"></th>
       <td th:text="${r.username}" class="ticket-user"></td>
         <td th:text="${r.dog_name}"></td>
         <td th:text="${r.designer_name}"></td>
      <td th:text="${r.item_name}"></td>
      <td th:switch="${r.resv_fix}">
       <div class="btn-group" th:case="0">
  			<a th:href="@{/resvInfo(no=${r.resv_no})}" class="btn btn-primary check-resv">예약 확인 &raquo;</a>
		</div>
		 <div class="btn-group resvFixed" th:case="1">
  			<a th:href="@{/resvInfo(no=${r.resv_no})}" class="btn btn-success disabled fix-resv" role="button">확정된 예약</a>
		</div>
		 <div class="btn-group" th:case="2">
		 <a class="btn btn-secondary disabled cancel-resv" role="button">취소한 예약</a>
		</div>
      </td>
    </tr>
  </tbody>
</table>


               


</div>