<div th:fragment="main">

<style>

.img-div img{
  margin: 40px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #aaa;
   border-radius:50%;
}

.dog-div{
margin:auto;
}
</style>
<script>

function checkCancel(){
	
	if($('#cancel-why').val()==''){
		 $('#cancel-why').addClass('is-invalid');
		 $('#cancelFeedback').text('취소 사유를 입력하세요.');
		 return false;
	}else{
		return true;
	};
	
};
function resvCancel(){
	
	$('#resvCancel').attr({
		'method':'post',
		'action':'[[@{/resvCancelFix}]]'
	});
	$('#resvCancel').submit();
};

$(document).ready(function(){
	$('#cancel-fix').on('click',function(){
	
		if(checkCancel()){
		resvCancel();
		}
	})
})
</script>

<div class="alert alert-danger" role="alert" style="font-size:2em; font-weight:bold">
  해당 예약을 정말로 취소하시겠습니까?
</div>

<div class="card mb-3" style="max-width: 100%;">
 <h5 class="card-header" th:text="${r.resv_no}+' 번 예약'"></h5>
  <div class="row g-0">
    <div class="col-md-4 text-center img-div">
      <img src="/jyassets/img/haro.png" class="img-fluid" alt="..." style="max-width:100%">
    </div>
    <div class="col-md-8 dog-div">
      <div class="card-body">
        <h4 class="card-title" th:text="${d.dog_name}"></h4>
        <div class="card-text mt-1 mb-3" th:text="${d.dog_age}+' 세&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;'+${d.dog_breed}+'&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;'+${d.dog_weight}+' kg'"></div>
        <hr>
        <div class="card-text mb-3" th:text="'특이사항 : '+${d.dog_special}"></div>
        <div class="card-text mb-3" th:text="'컷 종류 : '+${r.item_name}"></div>
        <div class="card-text mb-3" th:text="'요청사항 : '+${r.resv_ask}"></div>
      </div>
    </div>
  </div>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
       <h5 class="card-header">예약일</h5>
    <div class="card-body">
    <div class="text-center" style="border:1px solid #ddd">
  			<div class="myfont-b mybg-color" style="height:60px; line-height:60px; font-size:1.2em" th:text="${#calendars.format(r.sc_date, 'EEEE')}"></div>
  			<div id="resv-date"  style="background-color:#ffffff; height:80px; line-height:80px; font-size:3em;" th:text="${#calendars.format(r.sc_date, 'MM')}+' / '+${#dates.format(r.sc_date, 'dd')}" ></div>
  			<div id="resv-date" class="myfont-b" style="background-color:#ffffff; height:47px; line-height:20px; font-size:2em;" th:text="${#dates.format(r.sc_date, 'hh')}+' : '+${#dates.format(r.sc_date, 'mm')}"></div>
  			<div class="myfont-b mybg-color" style="height:60px; line-height:60px; font-size:1.2em" th:text="${#calendars.format(r.sc_date, 'YYYY')}"></div>
  			</div>
    </div>
    </div>
  </div>
 
  <div class="col">
   
    <div class="card">
        <h5 class="card-header">예약자</h5>
				
				    
    <div class="card-body">
        <div class="container text-left mt-3 mb-4">
				  <div class="row align-items-center">
				    <div class="col">

<div class="mb-2">이름 : </div>
  			<a th:href="@{/detailPage(useremail=${u.useremail})}" th:text="${r.username}" style="font-size:1.2em"></a>
				    </div>
				    <div class="col">
				    <div class="mb-2">연락처 : </div>
  			<div th:text="${u.tel}" style="font-size:1.2em"></div>
				    </div>
				  </div>
				</div>
				    
  			
    	</div>
    	
    </div>
    
    
    <div class="card mt-4">
    <h5 class="card-header">담당 디자이너</h5>
    <div class="card-body mt-3 mb-3 text-center">
     		<a th:href="@{/schedule(designer_id=${rtwo.designer_id})}" th:text="${r.designer_name}"  style="font-size:1.2em"></a>
     </div>
    </div>
  </div>
  
  
     <div class="col">
 <div class="d-grid gap-2">
<a class="btn btn-danger btn-lg" href="#" role="button" style="height:322px;" data-bs-toggle="modal" data-bs-target="#resvCancelModal"><div style="line-height: 299px; font-size:1.5em;">예약 취소  <i data-feather="x-circle"></i></div></a>
</div>
  
  </div>
  
  
  
  
</div>


<div class="modal fade" id="resvCancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">예약 취소 사유</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding-left:50px; padding-right:50px;">
        <form id="resvCancel">
         <div class="mb-3">
    <label for="adminId" class="form-label">관리자 아이디</label>
    <input type="text" class="form-control" id="admin_id" aria-describedby="adminIdInput" name="admin_id" th:value="${session.admin.admin_id}" readonly="readonly">

  </div>
  <div class="mb-3">
    <label for="inputId" class="form-label">예약번호</label>
    <input type="number" th:value="${r.resv_no}" class="form-control" id="resv_no" aria-describedby="resv_no" name="resv_no" readonly="readonly">
  </div>
    <div class="mb-3">
    <label for="inputIntroduce" class="form-label">취소 사유</label>
    <textarea class="form-control" id="cancel-why" name="cancel"></textarea>
    <div id="cancelFeedback" class="invalid-feedback"></div>
  </div>

</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
        <button type="button" id="cancel-fix" class="btn btn-danger">취소 확정</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->


<!-- end of fragment -->
</div>