<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script th:inline="javascript">
function delchk(data){
	if(confirm('해당 예약을 취소하시겠습니까?')){
		alert('예약이 취소되었습니다. 홈으로 이동합니다')
		location.href='/resvdel?resv_no='+data;
	}
}
function updatechk(data){
	if(confirm('해당 예약을 수정하시겠습니까?')){
		location.href='/resvupdate?resv_no='+data;
	}
}
function moveresv(){
	location.href='/resv';
}
</script>
<div id="resvtitle">Reservation</div>
<div id="userResv" th:if="${resv!=null}" th:each="resv : ${resv}" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
	<div id="dog_photo">
		<img th:if="${resv.dog_photo==null} or ${resv.dog_photo==''}" src="assets/img/logo.svg" style="width:70px;height:70px;border-radius:50%">
		<img th:unless="${resv.dog_photo==null} or ${resv.dog_photo==''}" th:src="'/assets/img/'+${resv.dog_photo}" style="width:70px;height:70px;border-radius:50%">
	</div>
	
	<div id="resv_head" style="padding-top:1%;">
		<div id="dog_name" th:text="${resv.dog_name}"></div>
		<div id="sc_date" th:text="${resv.sc_date}"></div>
	</div>
	
	<div id="resv_body">
		<ul>
			<li id="designer_name" th:text="${resv.designer_name}+' 디자이너'"></li>
			<hr style="background-color:#808080;width:530px;height:2px;"/>
			<li id="item_name" th:text="${resv.item_name}"></li>
			<li id="item_price" th:text="${resv.item_price}+'원'"></li>
			<hr style="background-color:#808080;width:530px;height:3px;"/>
			<li th:if="${resv.resv_fix==1}" id="resv_fix">예약 확정</li>
			<li th:unless="${resv.resv_fix==1}" id="resv_modify">
				<button id="resv_apply" disabled>예약 신청 중</button>
				<button id="resv_update" th:onclick="updatechk([[${resv.resv_no}]])">예약 수정</button>
				<button id="resv_del" th:onclick="delchk([[${resv.resv_no}]])">예약 취소</button>
			</li>
		</ul>
	</div>
</div>
<div id="resvDel" th:if="${resvdel!=null}" th:each="resvdel : ${resvdel}" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
	<input type="hidden" id="hidden" th:value="${resvdel.cancel}"/>
	<div id="dog_photo">
		<img th:if="${resvdel.dog_photo==null} or ${resvdel.dog_photo==''}" src="assets/img/logo.svg" style="width:70px;height:70px;border-radius:50%">
		<img th:unless="${resvdel.dog_photo==null} or ${resvdel.dog_photo==''}" th:src="'/assets/img/'+${resvdel.dog_photo}" style="width:70px;height:70px;border-radius:50%">
	</div>
	
	<div id="resv_head">
		<div id="dog_name" th:text="${resvdel.dog_name}"></div>
		<button type="button" id="statuscancel" disabled>예약 취소</button>
	</div>
	
	<div id="resv_body">
		<ul>
			<li id="designer_name" th:text="${resvdel.designer_name}+' 디자이너'"></li>
			<hr style="background-color:#808080;width:530px;height:2px;"/>
			<li id="item_name" th:text="${resvdel.item_name}"></li>
			<li id="item_price" th:text="${resvdel.item_price}+'원'"></li>
			<hr style="background-color:#808080;width:530px;height:3px;"/>
			<li id="cancel" style="width:400px;height:50px;margin:0 auto;display:none;">
				<!-- <div class="dropdown" style="width:400px;height:200px;">
				  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				    취소 사유
				  </button>
				  <ul class="dropdown-menu">
				    <li th:text="${resvdel.cancel}"></li>
				  </ul>
				</div> -->
				<textarea style="width:400px;margin:0 auto;border-radius:5px;border:1px solid #d3d3d3;resize:none;" th:text="${resvdel.cancel}" readonly></textarea>
			</li>
		</ul>
	</div>
</div>
<div id="noResv" th:if="${noresv==1}" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
	<div class="alert alert-danger" role="alert" style="width:500px;margin:10% auto;text-align:center;">
	  아직 예약 내역이 없습니다. &nbsp;&nbsp;
	  <button type="button" class="btn btn-light" onclick="moveresv();">예약하러 가기</button>
	</div>
</div>