<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">우리집 강아지 미모 프로젝트</div>
                <div class="masthead-heading text-uppercase">이웃집 하로</div>
                <a class="btn btn-primary btn-xl text-uppercase" th:href="@{/resv}">예약하러 가기</a>
            </div>
        </header>
</body>
</html>