<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:replace="fragments :: boot"></script>
<script>
$(document).ready(function(){
	
	activateJoinbtn();
	
	$('#resetbtn').click(function(){
		var c = confirm('비밀번호를 재설정 하시겠습니까?');
		if(c == true) {
			$('#reset_pwd').attr({
				'enctype':'multipart/form-data',
				'method':'post',
				'action':'[[@{/pwdmodify}]]'
			});
			$('#reset_pwd').submit();
		};
	});
	
	var cnt = 1;
	var result = $('#result').val();
	if(result==1) alert('아이디 혹은 비밀번호를 잘못 입력하셨습니다');
	
	/* $('#chatEnter').click(function(){
		if(document.getElementById('quest').value == '')
			return;
		chatbot();
		document.getElementById('quest').value = null;
	});
	$('#chatform').keypress(function(e){
		if(document.getElementById('quest').value == '')
			return;
		if(e.keyCode == 13){
			chatbot();
			document.getElementById('quest').value = null;
		}
	});
	$('.close').click(function(){
		document.getElementById('addAnswer').remove();
	}); */
	
	$('#mail-Check-Btn').click(function() {
		const eamil = $('#useremail').val(); // 이메일 주소값 얻어오기!
		console.log('완성된 이메일 : ' + eamil); // 이메일 오는지 확인
		const checkInput = $('.mail-check-input') // 인증번호 입력하는곳 
		
		$.ajax({
			type : 'get',
			url : '/mailCheck?email='+eamil, // GET방식이라 Url 뒤에 email을 뭍힐수있다.
			success : function (data) {
				console.log("data : " +  data);
				checkInput.attr('disabled',false);
				code =data;
				alert('인증번호가 전송되었습니다.')
			}			
		}); // end ajax
	}); // end send eamil
	
	// 인증번호 비교 
	// blur -> focus가 벗어나는 경우 발생
	$('.mail-check-input').blur(function () {
		const inputCode = $(this).val();
		const $resultMsg = $('#mail-check-warn');
		const pwdInput = $('#userpwd');
		const pwd2Input = $('#userpwd2');
		
		if(inputCode === code){
			$resultMsg.html('인증번호가 일치합니다.');
			$resultMsg.css('color','green');
			$('#mail-Check-Btn').attr('disabled',true);
			$('#useremail').attr('readonly',true);
			$('#useremail').attr('readonly',true);
			pwdInput.attr('disabled',false);
			pwd2Input.attr('disabled',false);
			$("#resetbtn").prop("disabled", false);
	         /* $("#nextbtn").prop("disabled", false); */
	         emailCheck = 1;
		}else{
			$resultMsg.html('인증번호가 불일치 합니다. 다시 확인해주세요!.');
			$resultMsg.css('color','red');
			pwdInput.attr('disabled',true);
			pwd2Input.attr('disabled',true);
			$("#resetbtn").prop("disabled", true);
			/* $("#nextbtn").prop("disabled", true); */
			emailCheck = 0;
		}
	});
	
	$('#findemailbtn').click(function(){
		var username = $('#name').val();
		var tel = $('#phone').val();
		if(username==""){
			alert("이름을 입력해주세요");
			$('#username').focus();
			return false;
		}
		if(tel==""){
			alert("연락처를 입력해주세요");
			$('#tel').focus();
			return false;
		}
		$.ajax({
			data:{
				"username":username, 
				"tel":tel
			},
			url:'[[@{/findemail}]]',
			success:function(data){
				if(data==""){
					alert("등록되지 않은 회원입니다. 이름과 연락처를 올바르게 입력했는지 확인하세요");
				}else {
					$('#emailresult').css('display','block');
					$('#emailresult').text('회원님의 가입 이메일은 '+data+'입니다 (도메인 제외)');
				}
			},error:function(){
				alert("error");
			}
		});
	});
});
	
	function regMemberid(useremail) {
		   var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])+@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])+\.[a-zA-Z]{2,3}$/;
		   return regExp.test(useremail);   
		}
	
	function regPhoneNumber(tel) {
		   var regExp = /^01[0-1]?\d{3,4}?\d{4}$/;
		   return regExp.test(tel);
	}
	
	function regMemberName(username) {
		   var regExp = /^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$/;
		   return regExp.test(username);
		}
	
	function regPassword(userpwd) {
		   var regExp = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
		   return regExp.test(userpwd);
		}
	
	var idCheck = 0;
	var phoneCheck = 0;
	var emailCheck = 0;
	var nameCheck = 0;
	var checkinput = 0;
	var pwdCheck = 0;
	var pwCheck = 0;
	
	function checkId() {
		   var inputed = $('#useremail').val();
		   $.ajax({
		      data : {
		         useremail : inputed //입력한 값을 mId라는 변수에 담음
		      },
		      url : "checkid", // data를 checkid url에 보냄 (Controller에서 받아처리한다. 중복이 되면 1, 아니면 0을 반환하는 함수를 구현했다.)
		      success : function(data) {
		         if(data == '1') { //아이디가 중복되었을 때
		            /* $("#fail").css("display", "block"); */ //에러메세지를 띄운다
		            $("#mailform").css("display","none"); //중복에러메세지 말고 다른 에러 메세지를 지운다.
		            $("#mailcon").css("display","none");
		            $("#mail-Check-Btn").prop("disabled", true);
		            /* $("#mail-Check-Btn").css("background-color", "#aaaaaa"); */
		            $("#inputnotcorrect").css("display", "none");
		            /* $("#useremail").css("background-color", "#FFCECE"); */
		            idCheck = 1;
		         } else if (regMemberid(inputed) == false) {
		            $("#mailform").css("display","block");
		            $("#mailcon").css("display","none");
		            $("#fail").css("display","none");
		            $("#mail-Check-Btn").prop("disabled", true);
		            /* $("#mail-Check-Btn").css("background-color", "#aaaaaa"); */
		            $("#inputnotcorrect").css("display", "block");
		            /* $("#useremail").css("background-color", "#FFCECE"); */
		            idCheck = 0;
		         } else if( data == '0' && regMemberid(inputed)) { //중복되지않고, 정규식을 통과할 때
		            /* $("#useremail").css("background-color", "white"); */
		            $("#mailform").css("display","none");
		            $("#fail").css("display","none");
		            $("#mailcon").css("display","block");
		            $("#inputnotcorrect").css("display", "block");
		            idCheck = 0;  
		         }
		      }
		   });
		}
	
	function checkName() {
		   var inputed = $('#username').val(); //이름에 입력한 값
		   $.ajax({
		      success: function() {
		         if(regMemberName(inputed) == false || inputed.length > 18) { //입력한 값이 정규표현식에 해당되지 않을 때와 18자 이상이 넘을 때 
		            $("#mail-Check-Btn").prop("disabled", true); //회원가입 버튼 누르지 못하게 하기
		            /* $("#mail-Check-Btn").css("background-color", "#aaaaaa"); */ //버튼 회색으로 바꾸기 
		           /*  $("#username").css("background-color", "#FFCECE"); */  // input 배경 붉은색으로 바꾸기
		            $("#usernameck").css("display", "block");
		            nameCheck = 1; // 회원 가입 전 값들 체크하기 위해 (0은 불가, 1은 가능)
		         } else if(regMemberName(inputed) == true) { //정규표현식에 해당할 때
		            /* $("#username").css("background-color", "#B0F6AC"); */ // input 배경 초록색으로 바꾸기
		            $("#usernameck").css("display", "none");
		            nameCheck = 0;
		         }
		      }
		   })
		}
	
	function checkTel() {
		   var inputed = $('#tel').val();
		   
		   $.ajax({
		      success: function() {
		         if(regPhoneNumber(inputed) ==  false) {
		        	$("#mail-Check-Btn").prop("disabled", true); //회원가입 버튼 누르지 못하게 하기
		            /* $("#tel").css("background-color", "#FFCECE"); */
		            inputed = $('#tel').val();
		            $("#telck").css("display", "block");
		            phoneCheck = 0;
		         }
		         else if(regPhoneNumber(inputed)== true) {
		            /* $("#tel").css("background-color", "#B0F6AC"); */
		            $("#telck").css("display", "none");
		            phoneCheck = 1;
		         }
		      }
		   })
		}
	
	function checkInputCor() {
		   var inputed1 = $('#username').val();
		   var inputed2 = $('#tel').val();
		   var inputed3 = $('#useremail').val();
		   $.ajax({
		      data : {
		    	  username : inputed1,
		    	  tel : inputed2,
		         useremail : inputed3 //입력한 값을 mId라는 변수에 담음
		      },
		      url : "findpwdcorrect", // data를 checkid url에 보냄 (Controller에서 받아처리한다. 중복이 되면 1, 아니면 0을 반환하는 함수를 구현했다.)
		      success : function(data) {
		         if(data == '1') { //아이디가 중복되었을 때 
		        	 $("#inputcorrect").css("display", "block");
		        	 $("#inputnotcorrect").css("display", "none");
		        	 $("#fail").css("display","none");
		        	 $("#mail-Check-Btn").prop("disabled", false);
		        	 checkinput = 1;
		         } else {
		        	 $("#mail-Check-Btn").prop("disabled", true);
		        	 $("#inputcorrect").css("display", "none");
		        	 checkinput = 0;
		         }
		      }
		   });
		}
	
	function checkPwd() {
		   var inputed = $('#userpwd').val();
		   $.ajax({
		      success: function() {
		         if(regPassword(inputed) == false || inputed.length > 25) {
		            /* $(".joinbtn").prop("disabled", true);
		            $(".joinbtn").css("background-color", "#aaaaaa"); */
		            $("#failpwd").css("display", "block");
		            $("#userpwdok").css("display", "none"); 
		            /* $('#userpwd2').attr('disabled',true); */
		            /* $("#userpwd").css("background-color", "#FFCECE"); */
		            pwdCheck = 0;
		         } else if(regPassword(inputed) == true) {
		        	 /* $('#userpwd2').attr('disabled',false); */
		            /* $("#userpwd").css("background-color", "#B0F6AC"); */
		            $("#failpwd").css("display", "none");
		             $("#userpwdok").css("display", "block"); 
		            pwdCheck = 1;
		         }
		      }
		   })
		}
		function checkPwd2() {
		   var inputed = $('#userpwd2').val();
		   var inputed1 = $('#userpwd').val();
		   
		   $.ajax({
		      success: function() {
		         if(inputed != inputed1) {
		            $(".joinbtn").prop("disabled", true);
		            $(".joinbtn").css("background-color", "#aaaaaa");
		            /* $("#userpwd2").css("background-color", "#FFCECE"); */
		            $("#userpwd2no").css("display", "block");
		            $("#userpwd2ok").css("display", "none");
		            $("#resetbtn").prop("disabled", true);
		            pwCheck = 0;
		         } else if(inputed == inputed1) {
		            /* $("#userpwd2").css("background-color", "#B0F6AC"); */
		            $("#userpwd2ok").css("display", "block");
		            $("#userpwd2no").css("display", "none"); resetbtn
		            $("#resetbtn").prop("disabled", false);
		            pwCheck = 1;
		         }
		      }
		   })
		}
		
		function activateresetbtn() {
					
					$.ajax({
					      success: function() {
					    	
		
						   if(pwCheck == 1 && emailCheck == 1) {
							   $("#resetbtn").prop("disabled", false);
							     /*  $("#nextbtn").prop("disabled", true);    */
							      /* $("#joinbtn").css("background-color", "#B0F6AC"); */
							   }
							   else  {
								   $("#resetbtn").prop("disabled", true);
							     /*  $("#nextbtn").prop("disabled", true); */
							   }
		
					}
					});
				}
			
			function activateJoinbtn() {
				
				$.ajax({
				      success: function() {
				    	
		
					   if(idCheck == 1 && nameCheck == 1 && phoneCheck == 1 && emailCheck == 1 && checkinput == 1) {
						   
						     /*  $("#nextbtn").prop("disabled", true);    */
						      /* $("#joinbtn").css("background-color", "#B0F6AC"); */
						   }
						   else  {
						     /*  $("#nextbtn").prop("disabled", true); */
						   }
		
				}
				});
			}


/* function chatbot(){
	var divQ = document.createElement('div');
	divQ.innerHTML = '<div style="display:inline-block;margin:2px;float:right;background-color:#eec550;color:white; border-radius:10px; margin-top:10px;"><div style="margin:5px; ">'+$('#quest').val()+'</div></div><br>';
	document.getElementById('addAnswer').appendChild(divQ);
	$.ajax({
		url:'[[@{/chatbot}]]',
		data:{
			quest:$('#quest').val()
		},
		success:function(data){
			var divA = document.createElement('div');
			divA.innerHTML = '<div style="display:inline-block;background-color:#2c2955;color:white; border-radius:10px;max-width:70%; margin-top:25px;"><div style="margin:5px; ">'+data+'</div></div><br>';
			document.getElementById('addAnswer').appendChild(divA);
			var chat = document.querySelector('#chatBasic');
	        chat.scrollTop = chat.scrollHeight;
		}
	});
	
	var chat = document.querySelector('#chatBasic');
    chat.scrollTop = chat.scrollHeight;
}; */

function loginchk(){
	var form = document.loginform;
	var email = form.email.value;
	var pwd = form.pwd.value;
		
	if(email==""){
		alert('이메일을 입력해주세요');
		form.email.focus();
		event.preventDefault();
		return;
	}
	if(pwd==""){
		alert('비밀번호를 입력해주세요');
		form.pwd.focus();
		event.preventDefault();
		return;
	}

	/* $.ajax({
		url:'[[@{/checkUser}]]',
		type : 'post',
		data: { 'useremail' : email , 'userpwd': pwd},
		dataType : 'json',
		success:function(result){
			if(result==0){
				$('#loginform').attr({
					'method':'post',
					'action':'[[@{/loginimpl}]]'
				});
				$('#loginform').submit();
			}else if(result==1){
				alert('아이디 혹은 비밀번호를 잘못 입력하셨습니다.');
			}
		}
	}); */
	
	form.action = '/loginimpl';
	form.submit();
}
</script>
<style>
#emailresult{
display:none;max-width:100%;margin:5% auto;text-align:center;
}
#emailfooter{
max-width:100%;text-align:center;
}
#findemailbtn{
background-color:#ece2c4;font-family: 'Spoqa Han Sans Neo', 'sans-serif';border:thin;height:40px;width:120px;
}
</style>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>로그인</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/logo_adobe_express.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- fonts-->
 		<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav th:replace="fragments :: nav-top"></nav>
        <!-- Login -->
        <!-- <header class="bg-dark py-5" style="margin-top:120px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">로그인</h1>
                    <p class="lead fw-normal text-white-50 mb-0">어서오세요, 이웃집 하로입니다</p>
                </div>
            </div>
        </header> -->
        <section class="page-section" id="login" style="height:450px;">
        	<form name="loginform" id="loginform" method="post" style="border-radius:20px;background-color:#f8f2e277;">
        		<input type="hidden" id="result" th:value="${session.result}"/>
                <h3>로그인</h3><br>
                <input type="text" name="email" id="email" placeholder="이메일"/><br><br>
                <input type="password" name="pwd" id="pwd" placeholder="비밀번호"/><br><br>
                <div class="link" style="width:400px;margin:0 auto;">
	                <ul style="width:400px;padding:0">
	                	<a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">이메일 찾기</a>
	                	<a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">비밀번호 찾기</a>
	                	<a th:href="@{/register}">회원가입</a>
	                </ul>
                </div>
                <button id="loginbtn" onclick="loginchk()">로그인하기</button>
            </form>
        </section>
        
        <!-- <a id="chatbot" href="#" data-bs-toggle="modal" data-bs-target="#modal_chatbot" class="img" style="position: fixed; top:86%; right: 3%; width:100px; background-image: url(assets/img/chatbot1.png); width:150px; height:100px; z-index:10;"></a> -->
        
		<!-- <div class="modal fade" id="modal_chatbot" role="dialog" data-backdrop="static" data-keyboard="false">
		    <div class="modal-dialog modal-2sm">
		      <div class="modal-content" style="width:100%;">
		        <div class="modal-header">
		          <div>모든 문의사항 편하게 질문해주세요:)</div>
		          <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
		          <h4 class="modal-title"></h4>
		        </div>
		        
		        <div id="chatBasic" class="modal-body" style="height:500px;overflow:scroll;">
		        	<div style="display:inline-block;background-color:#2c2955;color:white; border-radius:10px;max-width:70%;"><div style="margin:5px;">안녕하세요 이웃집하로입니다:)<br>어떤것을 도와드릴까요?</div></div>
			        <div id="addAnswer"></div>
		        </div>
		        <div class="modal-footer" style="justify-content: flex-start;">
					<div class="col-md-10" style="float:left;" id="chatform">
						<input id="quest" type="text" style="width:100%;">
					</div>
					<button type="button" class="btn btn-primary" id="chatEnter" style="float: right;">전송</button>
		        </div>
		      </div>
		    </div>
	    </div> -->
	    <!-- Modal-->
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">이메일 찾기</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div class="mb-3">
					<label for="username" class="form-label">이름</label>
					<input type="text" id="name" name="name" class="form-control" placeholder="이름" oninput="checkName(),activateJoinbtn(), checkInputCor()"/>
				</div>
				<div class="mb-3">
					<label for="tel" class="form-label">연락처</label>
					<input type="text" id="phone" name="phone" class="form-control" placeholder="예) 01012345678" oninput="checkTel(), activateJoinbtn(), checkInputCor()"/>
				</div>
				<div class="mb-3" id="emailfooter">
					<button id="findemailbtn">이메일 찾기</button>
 					<div id="emailresult"></div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button id="closebtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- Modal-->
		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 찾기</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      	<div class="modal-body">
		      	<div class="mb-3">
							<label for="username" class="form-label">이름</label>
							<input type="text" id="username" name="username" class="form-control" placeholder="이름" oninput="checkName(),activateJoinbtn(), checkInputCor()"/>
							<font color = "red" id = "usernameck" style = "display:none">한글만 입력해주세요</font>
				</div>
				<div class="mb-3">
							<label for="tel" class="form-label">연락처</label>
							<input type="text" id="tel" name="tel" class="form-control" placeholder="예) 01012345678" oninput="checkTel(), activateJoinbtn(), checkInputCor()"/>
							<font color = "red" id = "telck" style = "display:none">숫자만 입력해주세요</font>
				</div>
				<form id="reset_pwd">
		        <div class="mb-3">
							<label for="useremail" class="form-label">이메일</label>
							<input type="text" id="useremail" name="useremail" class="form-control" placeholder="예) id@example.com" oninput="checkId(), activateJoinbtn(), checkInputCor()"/>
							<font color="red" id="mailform" style= "display:none">올바른 이메일 형식이 아닙니다</font>
							<font color="red" id="fail" style= "display:none">이미 존재하는 이메일입니다</font>
							<font color="green" id="mailcon" style= "display:none">사용 가능한 이메일입니다</font>
							<font color="green" id="inputcorrect" style= "display:none">비밀번호 찾기가 가능합니다 '본인인증' 버튼을 눌러주세요.</font>
							<font color="red" id="inputnotcorrect" style= "display:none">일치하는 정보가 없습니다. 입력 정보를 다시 확인해주세요.</font>
							
							
						</div>
						<div class="input-group">
							<input class="form-control mail-check-input" placeholder="인증번호 6자리를 입력해주세요" disabled="disabled">
							<span><input type="button" class="form-control btn btn-secondary text-dark" id="mail-Check-Btn" value="본인인증" style="background-color:#ece2c4;" disabled></span>
						</div>
				<span class="mb-3" id="mail-check-warn"></span>
				
						<div class="mt-3 mb-3">
							<label for="userpwd" class="form-label">재설정 비밀번호</label>
							<input type="password" id="userpwd" name="userpwd" class="form-control" placeholder="영문자+숫자+특수조합(8~25자리 입력)" oninput="checkPwd(), activateresetbtn()" disabled/>
							<font color = "red" id = "failpwd" style = "display:none">비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다</font>
							<font color = "green" id = "userpwdok" style = "display:none">사용 가능한 비밀번호입니다</font>
						</div>        
						<div class="mb-3">
							<label for="userpwd2" class="form-label">비밀번호 재확인</label>
							<input type="password" id="userpwd2" name="userpwd2" class="form-control" placeholder="비밀번호 재확인" oninput ="checkPwd2(), activateresetbtn()" disabled/>
							<font color = "green" id = "userpwd2ok" style = "display:none">비밀번호가 일치합니다</font>
							<font color = "red" id = "userpwd2no" style = "display:none">비밀번호가 일치하지 않습니다</font>
						</div>
						<button id="resetbtn" type="button" class="btn btn-secondary text-dark" style="background-color:#ece2c4; float: right;" disabled>비밀번호 재설정</button>
				</form>
		      </div>
		      
		      <div class="modal-footer">
		        <button id="cancelbtn" type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal" style="background-color:#ece2c4;">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
		
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>