<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
function dogSelect(data){
	document.getElementById('dog_id').value = data;
	document.getElementById('dateaccordion').click();
}
function designerSelect(data){
	document.getElementById('designer_id').value = data;
	document.getElementById('itemaccordion').click();
}
function itemSelect(data){
	document.getElementById('item_id').value = data;
	document.getElementById('askaccordion').click();
}
function askregister(){
	var ask = document.getElementById('exampleFormControlTextarea1').value;
	document.getElementById('resv_ask').value = ask;
	document.getElementById('closebtn').click();
}

var resvdate = ""
document.addEventListener('DOMContentLoaded', function() {
	resvdate = document.getElementById('sc_date').value;
    var calendarEl = document.getElementById('calendar');
    var request = $.ajax({
		url : '/weekSchedule',
		type : 'get',
		dataType : 'json'
	});
	
	request.done(function(data) { 
	    var calendar = new FullCalendar.Calendar(calendarEl, { 
	    	height:500,
	    	editable:false,
	    	selectable:true,
      		dayMaxEvents: true,
      		titleFormat: function(date) {
      	      year = date.date.year;
      	      month = date.date.month + 1;
      	      return year + "년 " + month + "월";
      	    },
	      	dateClick: function(info) {
	      	  const date = new Date();
	      	  $.ajax({
	      		 data : {"info":info.dateStr},
	      		 url : '/scheduleCheck',
	      		 success:function(data){
	      			 if(data>0){
	      				document.getElementById('resvdate').value = info.dateStr;
	      	      	    resvdate = info.dateStr+' 11시';
	      			 }else{
	      				document.getElementById('resvdate').value = '예약이 불가한 날입니다';
	      				resvdate = '예약이 불가한 날입니다';
	      			 }
	      		 }
	      	  });
	      	},
    		events: data
		});
		calendar.render();
	});
});

function dateSelect(){
	if(resvdate == '예약이 불가한 날입니다'){
		alert('예약 날짜를 다시 선택해주세요');
	}else{
		if(document.getElementById('btnradio1').checked){
			resvdate = resvdate.replace(' 13시', ' 11시');
			resvdate = resvdate.replace(' 15시', ' 11시');
			resvdate = resvdate.replace(' 17시', ' 11시');
		}
		if(document.getElementById('btnradio2').checked){
			resvdate = resvdate.replace(' 11시', ' 13시');
			resvdate = resvdate.replace(' 15시', ' 13시');
			resvdate = resvdate.replace(' 17시', ' 13시');
		}
		if(document.getElementById('btnradio3').checked){
			resvdate = resvdate.replace(' 11시', ' 15시');
			resvdate = resvdate.replace(' 13시', ' 15시');
			resvdate = resvdate.replace(' 17시', ' 15시');
		}
		if(document.getElementById('btnradio4').checked){
			resvdate = resvdate.replace(' 11시', ' 17시');
			resvdate = resvdate.replace(' 13시', ' 17시');
			resvdate = resvdate.replace(' 15시', ' 17시');
		}
		document.getElementById('sc_date').value = resvdate;
		document.getElementById('designeraccordion').click();
	}
}

$(document).ready(function(){
	$('.dogselect').on('click',function(){
		  $(this).attr('class','btn dogselect btn-dark').css('color','white');
		  if($('.dogselect').not($(this)).hasClass('btn-dark')){
		  	$('.dogselect').not($(this)).attr('class','btn dogselect btn-outline-dark').css('color','black');
		  }
	});
	/* $('#timeselect').on('click',function(){
		  if($('#timeselect').not($(this)).hasClass('btn-dark')){
		  	$('#timeselect').not($(this)).attr('class','btn btn-outline-dark');
		  }
	}); */
	$('.designerselect').on('click',function(){
		  $(this).attr('class','btn designerselect btn-dark').css('color','white');
		  if($('.designerselect').not($(this)).hasClass('btn-dark')){
		  	$('.designerselect').not($(this)).attr('class','btn designerselect btn-outline-dark').css('color','black');
		  }
	});
	$('.menuselect').on('click',function(){
		  $(this).attr('class','btn menuselect btn-dark').css('color','white');
		  if($('.menuselect').not($(this)).hasClass('btn-dark')){
		  	$('.menuselect').not($(this)).attr('class','btn menuselect btn-outline-dark').css('color','black');
		  }
	});
	$('#resvbtn').click(function(){
		var dog_id = $('#resvForm>#dog_id').val();
		var sc_date = $('#resvForm>#sc_date').val();
		var designer_id = $('#resvForm>#designer_id').val();
		var item_id = $('#resvForm>#item_id').val();
		
		if(dog_id == ''){
			alert('강아지는 필수 선택사항입니다');
			return;
		}
		if(sc_date == ''){
			alert('예약 날짜는 필수 선택사항입니다');
			return;
		}
		if(designer_id == ''){
			alert('디자이너는 필수 선택사항입니다');
			return;
		}
		if(item_id == ''){
			alert('컷 메뉴는 필수 선택사항입니다');
			return;
		}

		if(confirm('이대로 예약을 진행하시겠습니까?')){
			alert('정상 처리되었습니다. 마이페이지에서 예약 내역을 확인하실 수 있습니다');
		}else{
			return;
		}
		
		$('#resvsubmit').click();
	});
});
</script>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>예약</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/logo_adobe_express.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- fonts-->
 		<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- FullCalendar -->
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
		<script src='../dist/index.global.js'></script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}"><img src="assets/img/logo.svg" width="80px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                    	<li th:if="${session.logemail==null}" class="nav-item">
                    		<a class="nav-link" th:href="@{/register}">회원가입</a>
                    	</li>
                    	<li th:unless="${session.logemail==null}" class="nav-item">
                    		<a class="nav-link" style="color:white;font-weight:500;" id="welcome" th:text="${session.logname}+'님 환영해요'"></a>
                    	</li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/resv}">예약</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/servicesintroduction}">서비스 소개</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/review}">이용후기</a></li>
                        <li class="nav-item dropdown">
                        	<img class="person" data-bs-toggle="dropdown" src="assets/img/person.svg" width="20px"/>
	                        <ul class="dropdown-menu dropdown-menu-dark">
	                        	<li id="loginsub" th:if="${session.logemail==null}">
	                        		<a class="dropdown-item" th:href="@{/login}">로그인</a>
	                        	</li>
	                        	<li id="mypagesub" th:unless="${session.logemail==null}">
	                        		<div><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></div>
	                        		<div><a class="dropdown-item" th:href="@{/mypage}">마이페이지</a></div>
	                        	</li>
	                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" style="margin-top:120px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">이룻집 하로 예약</h1>
                    <p class="lead fw-normal text-white-50 mb-0">아래에서 예약을 진행하세요</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5" style="margin-top:50px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">
        	<div class="accordion" id="accordionExample" style="width:70%;margin:0 auto;">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingOne">
			      <button id="#dogaccordion" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        강아지 선택
			      </button>
			    </h2>
			    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			      <div class="accordion-body">
				      <div class="row row-cols-1 row-cols-md-3 g-4">
						  <div class="col" th:each="dog:${dog}" style="margin-top:2%;">
						    <div class="card h-100">
						      <img th:if="${dog.dog_photo==''} or ${dog.dog_photo==null}" src="assets/img/logo.svg" class="card-img-top" alt="...">
						      <img th:unless="${dog.dog_photo==''} or ${dog.dog_photo==null}" th:src="@{${dog.dog_photo}}" class="card-img-top" alt="...">
						      <div class="card-body bg-light" style="text-align:center;border-top:1px solid #ddd;">
						        <h5 class="card-title" th:text="${dog.dog_name}"></h5>
						        <button th:if="${dog.dog_id}==${resv.dog_id}" type="button" class="btn dogselect btn-dark" id="dogselectbtn" th:value="${dog.dog_id}" th:onclick="dogSelect([[${dog.dog_id}]]);">선택</button>
						        <button th:unless="${dog.dog_id}==${resv.dog_id}" type="button" class="btn dogselect btn-outline-dark" id="dogselectbtn" th:value="${dog.dog_id}" th:onclick="dogSelect([[${dog.dog_id}]]);">선택</button>
						      </div>
						    </div>
						  </div>
					  </div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingTwo">
			      <button id="dateaccordion" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        예약 날짜
			      </button>
			    </h2>
			    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			      
			      <div style="width:400px;height:50px;margin-top:2.5%;margin-left:2%;"><img id="warning" src="assets/img/warning.svg" style="margin-bottom:0.8%;margin-right:2%;"/>오늘 기준 2일 뒤부터 예약 가능합니다</div>
			      <div class="card  w-auto mb-3">
					  <div class="card-body calendar">
					    <div id="calendar" style="width:60%;float:left;"></div>
					    <div id="dateinfo">
					    	<img id="calicon" src="assets/img/calendar3.svg"/>
					    	<input type="text" id="resvdate" name="resvdate" th:value="${#dates.format(schedule.sc_date, 'yyyy-MM-dd')}"/><br><br>
					    	<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
							  <input th:if="${#dates.format(schedule.sc_date,'HH')}==11" type="radio" class="btn-check" name="btnradio" id="btnradio1" value="11" autocomplete="off" checked>
							  <input th:unless="${#dates.format(schedule.sc_date,'HH')}==11" type="radio" class="btn-check" name="btnradio" id="btnradio1" value="11" autocomplete="off">
							  <label class="btn btn-outline-dark" for="btnradio1">11시</label>
							
							  <input th:if="${#dates.format(schedule.sc_date,'HH')}==13" type="radio" class="btn-check" name="btnradio" id="btnradio2" value="13" autocomplete="off" checked>
							  <input th:unless="${#dates.format(schedule.sc_date,'HH')}==13" type="radio" class="btn-check" name="btnradio" id="btnradio2" value="13" autocomplete="off">
							  <label class="btn btn-outline-dark" for="btnradio2">13시</label>
							 
							  <input th:if="${#dates.format(schedule.sc_date,'HH')}==15" type="radio" class="btn-check" name="btnradio" id="btnradio3" value="15" autocomplete="off" checked>
							  <input th:unless="${#dates.format(schedule.sc_date,'HH')}==15" type="radio" class="btn-check" name="btnradio" id="btnradio3" value="15" autocomplete="off">
							  <label class="btn btn-outline-dark" for="btnradio3">15시</label>
							 
							  <input th:if="${#dates.format(schedule.sc_date,'HH')}==17" type="radio" class="btn-check" name="btnradio" id="btnradio4" value="17" autocomplete="off" checked>
							  <input th:unless="${#dates.format(schedule.sc_date,'HH')}==17" type="radio" class="btn-check" name="btnradio" id="btnradio4" value="17" autocomplete="off">
							  <label class="btn btn-outline-dark" for="btnradio4">17시</label>
							 </div>
							 <br><br>
					    	<button type="button" class="btn btn-success" onclick="dateSelect();">날짜 선택</button>
					    </div>
					  </div>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingThree">
			      <button id="designeraccordion" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			        디자이너 선택
			      </button>
			    </h2>
			    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
			      <div class="accordion-body" style="height:550px;">
			        <div class="designer_info" style="margin-top:20px;">
			        	<div class="card-group" style="width:1800px;margin:0 auto;">
						  <div class="card" th:each="designer:${designer}">
						    <img th:if="${designer.designer_photo==''} or ${designer.designer_photo==null}" src="assets/img/logo.svg" class="card-img-top" alt="...">
						    <img th:unless="${designer.designer_photo==''} or ${designer.designer_photo==null}" th:src="'assets/img/'+@{${designer.designer_photo}}" style="height:50%;" class="card-img-top" alt="...">
						    <div class="card-body" style="text-align:center;">
						      <h5 class="card-title" th:text="${designer.designer_name}"></h5>
						      <p class="card-text"><small class="text-muted" th:text="${designer.designer_career}+'년 경력'"></small></p>
						      <i class="card-text" th:text="'[ '+${designer.item_name}+' 전문 ]'"></i><br><br>
						      <button th:if="${designer.designer_id}==${resv.designer_id}" type="button" class="btn designerselect btn-dark" id="designerselectbtn" th:value="${designer.designer_id}" th:onclick="designerSelect([[${designer.designer_id}]]);">선택</button>
						      <button th:unless="${designer.designer_id}==${resv.designer_id}" type="button" class="btn designerselect btn-outline-dark" id="designerselectbtn" th:value="${designer.designer_id}" th:onclick="designerSelect([[${designer.designer_id}]]);">선택</button>
						    </div>
						  </div>
						</div>
			      	</div>
			      </div>
			  	</div>
			  </div>
			  <div class="accordion-item">
				<h2 class="accordion-header" id="headingFour">
			      <button id="itemaccordion" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			        컷 메뉴
			      </button>
			    </h2>
				<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
				    <div class="accordion-body">
					  <div class="row row-cols-1 row-cols-md-3 g-4">
					  	<div class="col" th:each="item:${item}">
						  <div class="card h-100">
						    <img th:src="'assets/img/'+@{${item.item_photo}}" style="height:70%;" class="card-img-top" alt="...">
						    <div class="card-body bg-light" style="text-align:center;">
						      <h5 class="card-title" th:text="${item.item_name}"></h5>
						      <p class="card-text" th:text="${item.item_price}+'원'"></p>
						      <button th:if="${item.item_id}==${resv.item_id}" type="button" class="btn menuselect btn-dark" id="itemselectbtn" th:value="${item.item_id}" th:onclick="itemSelect([[${item.item_id}]]);">선택</button>
						      <button th:unless="${item.item_id}==${resv.item_id}" type="button" class="btn menuselect btn-outline-dark" id="itemselectbtn" th:value="${item.item_id}" th:onclick="itemSelect([[${item.item_id}]]);">선택</button>
						    </div>
						  </div>
						</div> 
				      </div>
					</div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="headingFive">
			      <button id="askaccordion" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			        요청사항
			      </button>
			    </h2>
			    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
			      <div class="accordion-body" style="height:150px;text-align:center;">
			      	<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top:45px;">요청사항이 있으신가요?</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<div style="width:109px;margin:70px auto;">
				<button type="button" class="btn btn-primary btn-lg" id="resvbtn">예약수정</button>
        	</div>
        </section>
        
        <form id="resvForm" method="post" th:action="@{/resvupdateOk}" style="display:none;">
        	<input type="hidden" id="resv_no" name="resv_no" th:value="${resv.resv_no}"/>
        	<input type="hidden" id="sc_id" name="sc_id" th:value="${schedule.sc_id}"/>
        	<input type="hidden" id="dog_id" name="dog_id" th:value="${resv.dog_id}"/>
        	<input type="hidden" id="sc_date" name="sc_date" th:value="${#dates.format(schedule.sc_date,'yyyy-MM-dd HH시')}"/>
        	<input type="hidden" id="designer_id" name="designer_id" th:value="${resv.designer_id}"/>
        	<input type="hidden" id="item_id" name="item_id" th:value="${resv.item_id}"/>
        	<input th:if="${resv.resv_ask=='없음'}" type="hidden" id="resv_ask" name="resv_ask" value="없음"/>
        	<input th:unless="${resv.resv_ask=='없음'}" type="hidden" id="resv_ask" name="resv_ask" th:value="${resv.resv_ask}"/>
        	<input type="hidden" id="resv_fix" name="resv_fix" value="0"/>
        	<input type="hidden" id="cancel" name="cancel" value=""/>
        	<button id="resvsubmit" type="submit"></button>
        </form>
        
        <!-- Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">요청사항</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" th:each="resv:${resv}">
		        <div class="mb-3">
				  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" th:text="${resv.resv_ask}"></textarea>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button id="closebtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		        <button id="askbtn" type="button" class="btn btn-primary" onclick="askregister();">등록</button>
		      </div>
		    </div>
		  </div>
		</div>
		
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                	<div class="col-lg-1 text-lg-start">(주)퍼스트클래스: 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)</div>
                	<div class="col-lg-2 text-lg-start">대표이사 : 한대경 | 사업자등록번호 : 123-45-67890 | 통신판매신고번호 : 제2023-서울강남-12345호 개인정보관리</div>
                	<div class="col-lg-3 text-lg-start">최고책임자 : 한대경 이사</div><br>
                    <div class="col-lg-4 text-lg-start">Copyright &copy; by firstClass., Ltd. All rights reserved</div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>