<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:replace="fragments :: boot"></script>
<style>
html, body {
    height: 100%
}
.hero-wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}
footer {
    bottom: 0;
}
#inharo:hover,#dharo:hover,#mharo:hover {
  background:#ccc !important;
  color:white;
}

</style>
<script>

function alldesigner(){
	
		location.href='/Designerlist';
		
	
}
function intro(){
	location.href='/servicesintroduction';
}

function intromap(){
	location.href='/servicesintrodm';
}

function dogSelect(data){
	document.getElementById('dog_id').value = data;
}
function designerSelect(data){
	document.getElementById('designer_id').value = data;
}
function itemSelect(data){
	document.getElementById('item_id').value = data;
}






</script>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>서비스 소개</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/logo_adobe_express.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- fonts-->
 		<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
    <nav th:replace="fragments :: nav-top"></nav>
       
        <!-- Header-->
        <header class="bg-dark py-5" style="margin-top:60px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">
            <div class="container px-4 px-lg-4 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">서비스 소개</h1>
                    <p class="lead fw-normal text-white-50 mb-0">이웃집 하로를 소개합니다</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5" >
        <div class="gap-2 d-md-flex justify-content-center" style="text-align: center;" >
        <button onclick="intro()" type="button" class="btn btn-lg" id="inharo" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif'; background-color:#ece2c4;">&nbsp;회사소개&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
  		<button onclick="alldesigner()" type="button" class="btn btn-lg" id="dharo" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif'; background-color:#ece2c4; ">디자이너소개</button>&nbsp;&nbsp;&nbsp;&nbsp;
  		<button onclick="intromap()" type="button" class="btn btn-lg" id="mharo" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif'; background-color:#ece2c4;">&nbsp;위치소개&nbsp;</button>
  		</div>
  		<br><br>
 		<div class="carousel-inner" id="introduction-a">
    <div class="carousel-item active" id="introduction-img">
    <img src="/assets/img/introdu.png" id="imgmain" style="width:67%; margin:0 auto; filter: drop-shadow(10px 6px 6px #c3c3c3);" class="d-block w-70" alt="Introduction" >
     <br><br><br>
     <div class="boxs" style="width:70%; margin: 0 auto;">
     	<div id="box1"><img src="/assets/img/inta1.png" style=" border-radius: 18%; float: left; padding:10px; width:33%; left:7%;"></div>
     	<div id="box1"><img src="/assets/img/inta2.png" style=" border-radius: 18%; float: left; padding:10px; width:33%; left:7%;"></div>
     	<div id="box1"><img src="/assets/img/inta3.png" style=" border-radius: 18%; padding:10px; width:33%; left:7%;"></div>
     </div>
 		</div> 
 		</div>
 		
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>