<div th:fragment="main">
<style>
#racontent{
	text-align: center;
	border: 0px solid pink;
	color: red;
}
#raadminid{
	text-align: center;
	border: 0px solid pink;
	color: red;
}
</style>


<script>

function chckadmin(){
	if($('#ra_content').val()==''){
		$('#ra_content').addClass('is-invalid');
		$('#racontent').text('답변을 입력해주세요.');
		return false;
	}else{
		if($('#ra_content').hasClass('is-invalid')){
		$('ra_content').removeClass('is-invalid');
		}
		$('#ra_content').addClass('is-valid');
		 $('#racontent').text('');
	};
	if($('#ra_content').hasClass('is-invalid')){
		$('#ra_content').focus();
		return false;
}

	
		
	if($('#ra_content').val()!=''&&$('#admin_id').val()!=''){
		return true;
	}else{
		return false;
	}
};


function adminupdate(){
	
	$('#adminreview_update').attr({
		'method':'post',
		'action':'[[@{/reviewAns_Update}]]'
	});
	$('#adminreview_update').submit();
	
	alert('수정되었습니다.');
};

$(document).ready(function() {

	
	
	$('#update_admin_btn').on('click',function(){
		
		let c = confirm('수정하시겠습니까?');
		if(c&&chckadmin()){	
		adminupdate();
		}else{
			return;
		}
		
	});
	
	/*취소 버튼 활성화*/
	$('#admin_Cancel').on('click',function(){
		history.back();
	});
	
	
	
});
</script>
<span class="listtitle">관리자 댓글 수정</span>
<form id="adminreview_update">

<div class="row">
		
		<div class="row">
		<div class="col-2 ">답변글번호</div>
		<input type="number" class="col-10" name="ra_no"  th:value="${ra.ra_no}"  >
		<div id="ra" class="invalid-ranumber" ></div>
		</div>
		
		<div class="row">
		<div class="col-2 ">답변</div>
		<textarea class="col-10"  th:text="${ra.ra_content}" id="ra_content" name="ra_content"></textarea>
		<div id="racontent" class="invalid-content" ></div>
		</div>
		
		<div class="row">
		<div class="col-2 ">관리자 아이디</div><br>
		<input class="col-10" id = "admin_id" name="admin_id" th:value="${ra.admin_id}" >
		<div id="raadminid" class="invalid-admin" ></div>
		</div>
		
		</div>
		
</form>
<button type="button" id="update_admin_btn" class="btn btn-primary">수정</button>
<button type="button" id="admin_Cancel" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		
</div>		
