<div th:fragment="main">
<style>
#review_update > intput{
size: 20px; 

}
</style>

<script>


</script>
<span class="titleList" style="font-size: 20px;">후기 답변</span><br><br>

<div class="reviewtable">
<form id="review_update">
	<div class="retable-1">
	<!-- <input type="number" class="review 1" th:text="${reu.review_no}" id="review_content" name="review_content"> -->
	</div>
	<br>
	<div><br>
	<input type="box" >
	<button type="button" >완료</button>
	<button type="button" >취소</button>
	</div>
	</div>
	
</form>

</div>