<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin_head">
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>이웃집 하로 관리자 페이지</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<!-- fullcalendar -->
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
	<script src='../dist/index.global.js'></script>

	<!--  BootStrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Vendor CSS -->
    <link th:href="@{/dashnav/lib/remixicon/fonts/remixicon.css}" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/dashnav/assets/css/style.min.css}">

	<!-- JY CSS, JavaScript -->
    <link rel="stylesheet" th:href="@{/jyassets/mystyle.css}">
   	<script th:src="@{/jyassets/myjs.js}"></script>

<!-- highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


</head>
<body>
 <div class="sidebar" th:fragment="sidebar">
      <div class="sidebar-header">
           <a id="contentMenu" href="#" class="content-menu d-none d-lg-flex"><i data-feather="menu"></i></a>
      </div><!-- sidebar-header -->
  
      <div class="sidebar-body">
        <nav class="nav-sidebar style-one">
          <a th:href="@{/}" class="nav-link"><i data-feather="home"></i><span>홈</span></a>
          <a th:href="@{/reservation}" class="nav-link"><i data-feather="calendar"></i><span>예약</span></a>
          <a th:href="@{/statistics}" class="nav-link"><i data-feather="bar-chart-2"></i><span>통계</span></a>
          <a th:href="@{/review}" class="nav-link"><i data-feather="message-square"></i><span>고객 후기</span></a>
        </nav>

        <hr>

        <nav class="nav-sidebar style-one">
         <a th:href="@{/shop}" class="nav-link"><i data-feather="monitor"></i><span>가게 관리</span></a>
          <a th:href="@{/designer}" class="nav-link"><i data-feather="briefcase"></i><span>디자이너 관리</span></a>
          <a th:href="@{/item}" class="nav-link"><i data-feather="list"></i><span>메뉴 관리</span></a>
          
        </nav>

        <hr>

        <nav class="nav-sidebar style-one">
<a th:href="@{/users}" class="nav-link"><i data-feather="users"></i><span>회원 관리</span></a>
        </nav>
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <a href="" class="avatar online"><span class="avatar-initial">a</span></a>
        <div class="avatar-body">
          <div class="d-flex align-items-center justify-content-between">
            <h6>admin01</h6>
            <a th:href="@{/logout}" class="footer-menu"><i data-feather="log-out"></i></a>
          </div>
          <span>관리자</span>
        </div><!-- avatar-body -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->
    
    
    <div th:fragment="fail">
    <script>
	$(document).ready(function(){
    	setTimeout(() => window.location.replace('[[@{/}]]'),3000);
	});
    </script>
    <h1>오류가 발생했습니다. 3초 후 메인 화면으로 돌아갑니다.</h1>
    
    </div>
</body>
</html>