<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin_head">
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>DashNav - Dashboard Sidebar Navigation</title>

    <!-- Vendor CSS -->
    <link th:href="@{dashnav/lib/remixicon/fonts/remixicon.css}" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{dashnav/assets/css/style.min.css}">
</head>
<body>
 <div class="sidebar" th:fragment="sidebar">
      <div class="sidebar-header">
           <a id="contentMenu" href="#" class="content-menu d-none d-lg-flex"><i data-feather="menu"></i></a>
      </div><!-- sidebar-header -->
  
      <div class="sidebar-body">
        <nav class="nav-sidebar style-one">
          <a th:href="@{/admin/home}" class="nav-link"><i data-feather="home"></i><span>홈</span></a>
          <a th:href="@{/admin/reservation}" class="nav-link"><i data-feather="calendar"></i><span>예약</span></a>
          <a href="" class="nav-link"><i data-feather="bar-chart-2"></i><span>통계</span></a>
          <a href="" class="nav-link"><i data-feather="message-square"></i><span>고객 후기</span></a>
        </nav>

        <hr>

        <nav class="nav-sidebar style-one">
         <a href="" class="nav-link"><i data-feather="monitor"></i><span>가게 관리</span></a>
          <a href="" class="nav-link"><i data-feather="briefcase"></i><span>디자이너 관리</span></a>
          <a href="" class="nav-link"><i data-feather="list"></i><span>메뉴 관리</span></a>
          
        </nav>

        <hr>

        <nav class="nav-sidebar style-one">
<a href="" class="nav-link"><i data-feather="users"></i><span>회원 관리</span></a>
        </nav>
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <a href="" class="avatar online"><span class="avatar-initial">a</span></a>
        <div class="avatar-body">
          <div class="d-flex align-items-center justify-content-between">
            <h6>admin01</h6>
            <a href="" class="footer-menu"><i class="ri-settings-4-line"></i></a>
          </div>
          <span>관리자</span>
        </div><!-- avatar-body -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->
</body>
</html>