<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

    <title>DashNav - Dashboard Sidebar Navigation</title>

    <!-- Vendor CSS -->
    <link href="dashnav/lib/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="dashnav/assets/css/style.min.css">
</head>

<body class="animate skin-blue">
<div th:replace="fragments :: sidebar">
</div>
	<div class="content">
		<div class="content-header">

			<a id="mobileMenu" href="#" class="content-menu d-lg-none"><i
				data-feather="menu"></i></a>
		</div>
		<!-- content-header -->
		<div class="content-body">
		
		</div>
		<!-- content-body -->
	</div>
	<!-- content -->


	<script src="dashnav/lib/jquery/jquery.min.js"></script>
	<script src="dashnav/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="dashnav/lib/feathericons/feather.min.js"></script>
	<script
		src="dashnav/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<script src="dashnav/assets/js/script.js"></script>

</body>
</html>
