<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmnets :: admin_head">
</head>
<body class="animate skin-blue">
<div class="sidebar" th:replace="admin/fragments :: sidebar"></div>
<div th:fragment="content">
<h1>Reservation</h1>
</div>

<script src="dashnav/lib/jquery/jquery.min.js"></script>
	<script src="dashnav/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="dashnav/lib/feathericons/feather.min.js"></script>
	<script
		src="dashnav/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<script src="dashnav/assets/js/script.js"></script>
</body>