<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
function addchk(){
	/* form의 name을 받아옴 */
	var form = document.addform;
	var dog_gender = form.dog_gender.value;
	var dog_age = form.dog_age.value;
	var dog_weight = form.dog_weight.value;
	var dog_breed = form.dog_breed.value;
	var dog_special = form.dog_special.value;

	if(dog_gender==""){
		alert("성별은 필수 항목입니다");
		form.dog_gender.focus();
		event.preventDefault();
		return false;
	}
	if(dog_age==""){
		alert("나이는 필수 항목입니다");
		form.dog_age.focus();
		event.preventDefault();
		return false;
	}
	if(isNaN(dog_age)){
		alert("나이에는 숫자만 입력하실 수 있습니다");
		form.dog_age.focus();
		event.preventDefault();
		return false;
	}
	if(dog_weight==""){
		alert("몸무게는 필수 항목입니다");
		form.dog_weight.focus();
		event.preventDefault();
		return false;
	}
	if(isNaN(dog_weight)){
		alert("몸무게에는 숫자만 입력하실 수 있습니다");
		form.dog_weight.focus();
		event.preventDefault();
		return false;
	}
	if(dog_breed==""){
		alert("견종은 필수 항목입니다");
		form.dog_breed.focus();
		event.preventDefault();
		return false;
	}

}
</script>
<div id="doginfo">
	<form name="addform" id="addform" class="validation-form" method="post" th:action="@{/adddogOk}" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="dog_name" class="form-label">강아지 이름을 알려주세요!</label>
			<input type="text" id="dog_name" name="dog_name" class="form-control"/>
		</div>
		<div class="mb-3">
			<label for="dog_photo" class="form-label">강아지 사진을 등록해보세요!</label>
			<input type="file" id="dog_photo" name="dog_photo" style="width:400px;" class="form-control"/>
			<input type="hidden" id=""/>
		</div> 
		<div class="mb-3">
			<label for="dog_gender" class="form-label"><b style="color:red;">* </b>강아지의 성별은?</label><br>
			<select name="dog_gender" style="width:120px;height:40px;border-radius:5px 5px;">
				<option id="dog_gender" class="form-control" value="M">수컷</option>
				<option id="dog_gender" class="form-control" value="F">암컷</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="dog_age" class="form-label"><b style="color:red;">* </b>몇 살인가요?</label>
			<input style="width:120px;" type="text" id="dog_age" name="dog_age" class="form-control" maxlength="2"/>
		</div>
		<div class="mb-3">
			<label for="dog_weight" class="form-label"><b style="color:red;">* </b>몇 kg인가요?</label>
			<input style="width:120px; display:block;"  type="text" id="dog_weight" name="dog_weight" class="form-control" maxlength="4"/>
		</div>
		<div class="mb-3">
			<label for="dog_breed" class="form-label"><b style="color:red;">* </b>무슨 종인가요?</label><br>
			<select name="dog_breed" style="width:120px;height:40px;border-radius:5px 5px;">
				<option id="dog_breed" class="form-control" value="푸들">푸들</option>
				<option id="dog_breed" class="form-control" value="말티즈">말티즈</option>
				<option id="dog_breed" class="form-control" value="요크셔테리어">요크셔테리어</option>
				<option id="dog_breed" class="form-control" value="닥스훈트">닥스훈트</option>
				<option id="dog_breed" class="form-control" value="비숑">비숑</option>
				<option id="dog_breed" class="form-control" value="리트리버">리트리버</option>
				<option id="dog_breed" class="form-control" value="스탠다드푸들">스탠다드푸들</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="dog_special" class="form-label">특이사항이 있다면?</label><br>
			<textarea id="dog_special" name="dog_special" style="width:600px;border-radius:5px;" maxlength="300"></textarea>
		</div>
		<div style="width:130px;margin-left:40%;">
			<button id="registerbtn" onclick="addchk()">강아지 등록</button>
		</div>
    </form>
</div>