<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
</script>
<div id="dogtitle">My dog</div>
<div id="dogmanage" enctype="multipart/form-data">
	<div class="doginfo" th:each="dog : ${dogList}">
		<img th:if="${dog.dog_photo==''} or ${dog.dog_photo==null}" src="assets/img/logo.svg" style="width:100px;height:100px;border-radius:50%;">
		<img th:unless="${dog.dog_photo==''} or ${dog.dog_photo==null}" th:src="@{${dog.dog_photo}}" style="width:100px;height:100px;border-radius:50%;">
		<table>
			<tbody>
				<tr>
					<td style="border-right:1px solid #909090;">이름</td>
			    	<td th:text="${dog.dog_name}"></td>
			    </tr>
			    <tr>
			    	<td style="border-right:1px solid #909090;">견종</td>
			        <td th:text="${dog.dog_breed}"></td>
			    </tr>
			    <tr>
			    	<td style="border-right:1px solid #909090;">나이</td>
			        <td th:text="${dog.dog_age}"></td>
			    </tr>
			    <tr>
			    	<td style="border-right:1px solid #909090;">성별</td>
			        <td th:text="${dog.dog_gender}"></td>
			    </tr>
			</tbody>
		</table>
		<br><br><br>
		<div id="updatebtn">
			<button th:onclick="|location.href='@{/updatedog(dog_id=${dog.dog_id})}'|">수정</<button>
		</div>
	</div>
	<div id="addbtn">
		<button id="add" th:onclick="|location.href='@{/adddog}'|">+ 강아지 추가</<button>
	</div>
</div>