<script>
function pwdchk(){
	var pwd = document.getElementById('userpwd').value;
	var logpwd = document.getElementById('logpwd').value;;
	
	if(pwd == ''){
		alert('비밀번호를 입력해주세요');
	}else if(pwd != logpwd){
		alert('비밀번호가 다릅니다. 다시 입력해주세요');
	}else if(pwd == logpwd){
		location.href = '/myinfo';
	}
};
</script>

<div class="left_myinfo">
	<input type="hidden" id="logpwd" name="logpwd" th:value="${session.logpwd}"/>
	<ul class="menu">
		<div id="button">
			<li><button type="button" style="background-color:#D3D3D3" th:onclick="|location.href='@{/mypage}'|">내 예약</button></li>
			<li><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#D3D3D3">계정 관리</button></li>
			<li><button type="button" style="background-color:#808080" th:onclick="|location.href='@{/doginfo}'|">강아지 정보 관리</button></li>
			<li><button type="button" style="background-color:#D3D3D3" th:onclick="|location.href='@{/visit}'|">내 이용 내역</button></li>
		</div>
	</ul>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">계정 관리 암호</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="border:1px solid #ddd;text-align:center;">
        <div>로그인 시 사용한 비밀번호를 입력하세요</div><br>
        <input type="password" id="userpwd" name="userpwd" style="width:250px;height:35px;margin-right:1%;"/>
        <button id="inputpwd" type="button" class="btn" style="background-color:#ece2c4;height:35px;margin-bottom:1%;" onclick="pwdchk();">입력</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>