<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
function delchk(data){
	if(confirm('해당 예약을 취소하시겠습니까?')){
		location.href='/resvdel?resv_no='+data;
	}
}
</script>
<div id="resvtitle">Reservation</div>
<div id="userResv" th:if="${resv!=null}" th:each="resv : ${resv}" style="font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
	<div id="dog_photo">
		<img th:if="${resv.dog_photo==null} or ${resv.dog_photo==''}" src="assets/img/logo.svg" style="width:70px;height:70px;border-radius:50%">
		<img th:unless="${resv.dog_photo==null} or ${resv.dog_photo==''}" th:src="@{${resv.dog_photo}}" style="width:70px;height:70px;border-radius:50%">
	</div>
	
	<div id="resv_head">
		<div id="dog_name" th:text="${resv.dog_name}"></div>
		<div id="sc_date" th:text="${resv.sc_date}"></div>
	</div>
	
	<div id="resv_body">
		<ul>
			<li id="designer_name" th:text="${resv.designer_name}+' 디자이너'"></li>
			<hr style="background-color:#808080;width:530px;height:2px;"/>
			<li id="item_name" th:text="${resv.item_name}"></li>
			<li id="item_price" th:text="${resv.item_price}+'원'"></li>
			<hr style="background-color:#808080;width:530px;height:3px;"/>
			<li th:if="${resv.resv_fix==1}" id="resv_fix">예약 확정</li>
			<li th:unless="${resv.resv_fix==1}" id="resv_modify">
				<button id="resv_apply" disabled>예약 신청 중</button>
				<button id="resv_update" th:onclick="|location.href='@{/resvupdate}'|">예약 수정</button>
				<button id="resv_del" th:onclick="delchk([[${resv.resv_no}]]);">예약 취소</button>
			</li>
		</ul>
	</div>
</div>