
<div th:fragment="main">
<div><span class="listtitle">전체회원목록</span></div>
<script>
  $(document).ready(function(){
	 
	$('#dbtn').on('click',function(){

		let userdelEmail = $('input[name=delEmail]:checked').val();
		 $("#delEmail").val(userdelEmail);
		 var c = confirm('삭제하시겠습니까 ?');
			if(c == true){
		$('#memberdel').submit();
			}
	});
});   
	
	
</script>
<style>
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
table thead {
  background-image: linear-gradient(to right, #8437fa, #543efa, #3e64fa, #3eacfa, #3ec5fa);
}
table thead tr th {
  background-color: transparent;
  border-top: none;
  padding: 10px;
  color: #fff;
  font-weight: 400;
}
table thead tr th svg,table thead tr th img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}
table tbody tr td {
  border-top: none;
  padding: 10px;
  color: #787878;
  font-size: 0.9rem;
}
table tbody tr td svg,table tbody tr td img {
  height: 41px;
  margin-right: 10px;
}
table tbody tr:nth-of-type(even) td {
  background-color: #fafafa;
}
table tbody tr:nth-of-type(odd) td {
  background-color: #ffffff;
}
table tbody tr.total th {
  background-color: white;
  color: #787878;
  padding: 10px;
}
table tbody tr.total td {
  text-align: right;
  font-weight: 700;
}
.mobile-header {
  display: none;
  padding: 0 10px;
  color: #787878;
  font-weight: 500;
}
@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }
  table tr td:not(:first-child),
  table tr th:not(:first-child),
  table tr td:not(.total-val) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #fafafa;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
body {
  background: #fafafa;
}
#sidebarCollapse {
  height: 50px;
  width: 50px;
  position: absolute;
  background: #DE52FF;
  border-radius: 30px;
  line-height: 44px;
  text-align: center;
  text-indent: -4px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  top: 20px;
  right: -25px;
  transition: all 0.5s ease;
}
#sidebarCollapse svg,#sidebarCollapse img {
  height: 20px;
  width: 20px;
}
#sidebarCollapse.rotate {
  transform: rotate(180deg);
}
.separator {
  margin: 2rem 0;
  border-bottom: 1px dashed #d9d9d9;
}
.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.media-body svg,.media-body img {
  height: 100px;
  width: auto;
}
.media-body .media-content {
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  margin: 10px 0;
  letter-spacing: 2px;
}
.media-body .media-sub-content {
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  margin: 0;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-image: linear-gradient(to top, #ae26e7, #a52aec, #9b2ff1, #9033f5, #8437fa);
}
.vertical-nav .profile {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0 0 20px 20px;
}
.vertical-nav .nav .nav-item {
  margin-bottom: 10px;
}
.vertical-nav .nav .nav-item .nav-link {
  display: block;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  word-spacing: 10px;
  background-color: transparent;
  border-left: 5px solid transparent;
  border-radius: 5px 0 0 5px;
}
.vertical-nav .nav .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #DE52FF;
}
.vertical-nav .nav .nav-item .nav-link img,
.vertical-nav .nav .nav-item .nav-link svg {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.vertical-nav .nav .nav-item .nav-link img path,
.vertical-nav .nav .nav-item .nav-link svg path {
  fill: #fff;
}
.vertical-nav .nav .nav-item.active .nav-link {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #DE52FF;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}
#content.active {
  width: 100%;
  margin: 0;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .mobile {
    display: block;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
 
}

#dbtn {
	display: black;
	float: right;
	border: 1px solid #E6E6FA;
	padding: 4px;
}

  </style>
 
   <!-- Page content holder -->
        <!-- Toggle button -->

        <!-- Demo content -->
        <h3 class="display-4 text-muted mb-3" style="font-size: 1.7rem; margin-top: -20px;" >Member</h3>
        
        <div class="row">
            <div class="col-12">
                <p class="mobile text-muted">Click the names to see more data.</p>
                
                <form th:action="@{/usersearch}" method="POST" >
                            <input type="text"   name="searchValue" placeholder=" "/>
                           	<input type="submit" value="검색"><p><br>
                           	</form>
							<br>
							<button type="button" id="dbtn">DELETE</button>
               <form id="memberdel" th:action="@{/uDelete}">
                <input type="text" name="delEmail" id="delEmail" style="display:none;">
                  </form>
                <table >
         
                    <thead>
                    
                        <tr class="table-headers">
                        
                    		<th></th>
                            <th>보호자이메일&nbsp;&nbsp;<i data-feather="user"></i></th>
                            <th>이름&nbsp;&nbsp;<i data-feather="user-check"></i></th>
                            <th>생년월일&nbsp;&nbsp;<i data-feather="gift"></i></th>
                            <th>연락처&nbsp;&nbsp;<i data-feather="phone"></i></th>
                            <th>주소&nbsp;&nbsp;<i data-feather="home"></i></th>
                            <th>상세주소&nbsp;&nbsp;<i data-feather="map-pin"></i></th>
                            <th>우편번호&nbsp;&nbsp;<i data-feather="mail"></i></th>
                            <th>가입날짜&nbsp;&nbsp;<i data-feather="users"></i></th>
                           
                        </tr>
                    </thead>                    
                    <br>                          
                    <tbody>
                        <tr th:each="u:${userlist}" class="test" >
                         <td><input type="radio" name="delEmail" class="check1" th:value="${u.useremail}"/></td>
                            <td th:text="${u.useremail}" ></td>
                            <td th:text="${u.username}" ></td>
                            <td th:text="${u.birth}" ></td>
                            <td th:text="${u.tel}" ></td>
                            <td th:text="${u.addr}" ></td>
                            <td th:text="${u.detaddr}" ></td>
                            <td th:text="${u.zipcode}" ></td>
                            <td th:text="${u.rdate}" ></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
