<div th:fragment="main">


<style>
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
table thead {
  background-image: linear-gradient(to right, #8437fa, #543efa, #3e64fa, #3eacfa, #3ec5fa);
  /* background-color:#ece2c4; */
}
table thead tr th {
  background-color: transparent;
  border-top: none;
  padding: 10px;
  color: #fff;
  font-weight: 400;
}
table thead tr th svg,table thead tr th img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}
table tbody tr td {
  border-top: none;
  padding: 10px;
  color: #787878;
  font-size: 1.05rem;
  height:60px;
}
table tbody tr td svg,table tbody tr td img {
  height: 41px;
  margin-right: 10px;
}
table tbody tr:nth-of-type(even) td {
  background-color: #fafafa;
}
table tbody tr:nth-of-type(odd) td {
  background-color: #ffffff;
}
table tbody tr.total th {
  background-color: white;
  color: #787878;
  padding: 10px;
}
table tbody tr.total td {
  text-align: right;
  font-weight: 700;
}
.mobile-header {
  display: none;
  padding: 0 10px;
  color: #787878;
  font-weight: 500;
}
@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }
  table tr td:not(:first-child),
  table tr th:not(:first-child),
  table tr td:not(.total-val) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #fafafa;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
body {
  background: #fafafa;
}
#sidebarCollapse {
  height: 50px;
  width: 50px;
  position: absolute;
  background: #DE52FF;
  border-radius: 30px;
  line-height: 44px;
  text-align: center;
  text-indent: -4px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  top: 20px;
  right: -25px;
  transition: all 0.5s ease;
}
#sidebarCollapse svg,#sidebarCollapse img {
  height: 20px;
  width: 20px;
}
#sidebarCollapse.rotate {
  transform: rotate(180deg);
}
.separator {
  margin: 2rem 0;
  border-bottom: 1px dashed #d9d9d9;
}
.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.media-body svg,.media-body img {
  height: 100px;
  width: auto;
}
.media-body .media-content {
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  margin: 10px 0;
  letter-spacing: 2px;
}
.media-body .media-sub-content {
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  margin: 0;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-image: linear-gradient(to top, #ae26e7, #a52aec, #9b2ff1, #9033f5, #8437fa);
}
.vertical-nav .profile {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0 0 20px 20px;
}
.vertical-nav .nav .nav-item {
  margin-bottom: 10px;
}
.vertical-nav .nav .nav-item .nav-link {
  display: block;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  word-spacing: 10px;
  background-color: transparent;
  border-left: 5px solid transparent;
  border-radius: 5px 0 0 5px;
}
.vertical-nav .nav .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #DE52FF;
}
.vertical-nav .nav .nav-item .nav-link img,
.vertical-nav .nav .nav-item .nav-link svg {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.vertical-nav .nav .nav-item .nav-link img path,
.vertical-nav .nav .nav-item .nav-link svg path {
  fill: #fff;
}
.vertical-nav .nav .nav-item.active .nav-link {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #DE52FF;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}
#content.active {
  width: 100%;
  margin: 0;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .mobile {
    display: block;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
 
}

#dbtn {
	display: black;
	float: right;
	border: 1px solid #E6E6FA;
	padding: 4px;
}

  </style>
  <script>
  function addLi(totalPages){
	  
		 urlParams = new URLSearchParams(window.location.search);
			var pValue = parseInt(urlParams.get('page'));
			
		var pagination = $("#pagination");
	    for (var i = 1; i <= totalPages; i++) {
	    	if(pValue==i) {
	    		var pageItem = $("<li>").addClass("page-item active");
	    		
	    	}else{
	    		var pageItem = $("<li>").addClass("page-item");
	    	}
	        var pageLink = $("<a>").addClass("page-link").attr("href", "/users?page=" + i).text(i);
	        pageItem.append(pageLink);
	        pagination.append(pageItem);
	    }
}



	function  testingNowPaging(){
		

		$.ajax({ 
			url: '[[@{/userTotalPage}]]',
			success: function (data) {
			   var totalPages = data;
			  
			   addLi(totalPages);
		       }
			});

		
	}


	$(document).ready(function () {
	 
			var currentPathname = window.location.pathname;
			if(currentPathname=='/users')
			{
			testingNowPaging();
			}
			$('input').on('keyup', function(event) {
				  if (event.keyCode === 13) { 
				    $('#sortbtn').click();
				  }
				});
			
			$('#sortbtn').on('click',function(){
				
				if($('#userName').val()==''||$('#userName').val()==null){
					alert('검색할 이름을 한글자 이상 입력하세요.');
					return;
				};
				
				$('#searchUser').attr({
					'method':'post',
					'action':'[[@{/usersearch}]]'
				});
				$('#searchUser').submit();
				
			})
	 
			
	});
  
  </script>
 
   <!-- Page content holder -->
        <!-- Toggle button -->

        <!-- Demo content -->
        <div class="listtitle">전체 회원 목록  <a th:href="@{/users}" class="btn btn-outline-secondary btn-sm ml-5" id="userallbtn" type="button">모든 회원</a></div>
        <div class="mygap-sm"></div>
<div style="display: flex; align-items: center;" class="mb-4">
<form id="searchUser" style="width:50%;">
<input class="form-control" id="userName" name="searchValue" placeholder="검색할 회원 이름을 입력해주세요." style="font-size:1.05rem;">
</form>
<button type="button" id="sortbtn"><i data-feather="search" id="sortbtn"></i></button>

</div>
        <div class="row">
            <div class="col-12">

                <table >
         
                    <thead>
                    
                        <tr class="table-headers">
                        
                    		<th></th>
                            <th>회원 이메일&nbsp;&nbsp;<i data-feather="mail"></i></th>
                            <th>이름&nbsp;&nbsp;<i data-feather="user-check"></i></th>
                            <th>생년월일&nbsp;&nbsp;<i data-feather="gift"></i></th>
                            <th>연락처&nbsp;&nbsp;<i data-feather="phone"></i></th>
                            <th>가입날짜&nbsp;&nbsp;<i data-feather="calendar"></i></th>
                           
                        </tr>
                    </thead>                    
                    <tbody>
                        <tr th:each="u:${userlist}" class="test" > 
                        <td><div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
</div></td>
                            <td><a th:href="@{/detailPage(useremail=${u.useremail})}" 
                            th:text="${#strings.substring(#strings.substringBefore(u.useremail,'@'),0,3) + #strings.repeat('*', #strings.length(#strings.substringBefore(u.useremail,'@'))-3) +'@'+
                            #strings.substring(#strings.substringAfter(u.useremail,'@'),0,2) + '*****'}" ></a></td>
                            <td th:text="${u.username}"></td>
                            <td th:text="'****'+${#strings.substring(u.birth,4)}" ></td>
                            <td th:text="${#strings.substring(u.tel,0,5)+#strings.repeat('*', #strings.length(u.tel) - 5)}" ></td>
                            <td th:text="${#calendars.format(u.rdate, 'YYYY-MM-dd')}" ></td>
                        </tr>
                    </tbody>
                </table>
                	<div class="mygap-sm"></div>
	  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination">

  </ul>
</nav>
            </div>
        </div>
        </div>
