<div th:fragment="main">
<div><span class="listtitle" th:text="${dsname}"></span>&nbsp;&nbsp;<span class="listtitle-sm">디자이너의 메뉴 목록</span></div>
<style>
.c{
text-align:center;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
table thead {
  background-image: linear-gradient(to right, #de52ff, #ca4afe, #b542fd, #9e3cfb, #8437fa);
}
table thead tr th {
  background-color: transparent;
  border-top: none;
  padding: 10px;
  color: #fff;
  font-weight: 400;  
}
table thead tr th svg,table thead tr th img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}
table tbody tr td {
  border-top: none;
  padding: 10px;
  color: #787878;
  font-size: 0.9rem;
}
table tbody tr td svg,table tbody tr td img {
  height: 41px;
  margin-right: 10px;
}
table tbody tr:nth-of-type(even) td {
  background-color: #fafafa;
}
table tbody tr:nth-of-type(odd) td {
  background-color: #ffffff;
}
table tbody tr.total th {
  background-color: white;
  color: #787878;
  padding: 10px;
}
table tbody tr.total td {
  text-align: right;
  font-weight: 700;
}
.mobile-header {
  display: none;
  padding: 0 10px;
  color: #787878;
  font-weight: 500;
}

@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }
  table tr td:not(:first-child),
  table tr th:not(:first-child),
  table tr td:not(.total-val) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #fafafa;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    z-index: -1;
    
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
body {
  background: #fafafa;
}
#sidebarCollapse {
  height: 50px;
  width: 50px;
  position: absolute;
  background: #DE52FF;
  border-radius: 30px;
  line-height: 44px;
  text-align: center;
  text-indent: -4px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  top: 20px;
  right: -25px;
  transition: all 0.5s ease;
}
#sidebarCollapse svg,#sidebarCollapse img {
  height: 20px;
  width: 20px;
}
#sidebarCollapse.rotate {
  transform: rotate(180deg);
}
.separator {
  margin: 2rem 0;
  border-bottom: 1px dashed #d9d9d9;
}
.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.media-body svg,.media-body img {
  height: 100px;
  width: auto;
}
.media-body .media-content {
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  margin: 10px 0;
  letter-spacing: 2px;
}
.media-body .media-sub-content {
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  margin: 0;
}

/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}
#content.active {
  width: 100%;
  margin: 0;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .mobile {
    display: block;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

  </style>

<script>

function addLi(totalPages,designer_id){
	
	 urlParams = new URLSearchParams(window.location.search);
		var pValue = parseInt(urlParams.get('page'));

		
	 var pagination = $("#pagination");
	 
//	pagination.append("<li class='page-item'><a class='page-link' href='#' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a></li>");

	for (var i = 1; i <= totalPages; i++) {
		if(pValue==i) {
    		var pageItem = $("<li>").addClass("page-item active");
    		
    	}else{
    		var pageItem = $("<li>").addClass("page-item");
    	}
		var pageLink = $("<a>").addClass("page-link").attr("href", "/itemSortByDesigner?designer_id=" + designer_id + "&page=" + i).text(i);
       pageItem.append(pageLink);
       pagination.append(pageItem);
   }
//  pagination.append("<li class='page-item'><a class='page-link' href='#' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a></li>");
   
}


function testingNowPaging(){

	let designer_id = $('#designer_id').val();
		$.ajax({
	       url: '[[@{/dsitemTotalPage}]]',
	       data: {'designer_id':designer_id},
	       success: function(data) {
	           var totalPages = data;

	          addLi(totalPages,designer_id);
	       }
	   });
	   
}


$(document).ready(function() {	

	   testingNowPaging();
	   
	$('#sortbtn').on('click',function(){
		if($('#designer_id').val()=='all'){
			window.location.replace('[[@{/item?page=1}]]');
			return;
		}
		$('#selectDesigner').attr({
			'method':'get',
			'action':'[[@{/itemSortByDesigner}]]'
		});
		$('#selectDesigner').submit();
	})

		$('.itempic').on('click',function(){
		var src = $(this).attr("src");
		$('#itemPhotoBody').attr("src",src);
	})
	
		
		$('#itemPhotoBody').on('click',function(){
			$(this).attr('data-bs-dismiss','modal');
		})

});

</script>

    <!-- Page content holder -->
        <!-- Toggle button -->
        <div class="mygap-sm"></div>
<div style="display: flex; align-items: center;">
<form id="selectDesigner" style="width:50%;">
           <select class="form-select" aria-label="Default select example" id="designer_id" name="designer_id">
           <option value="all">전체</option>
  				<option th:each="d:${designerlist}" th:value="${d.designer_id}" th:text="${d.designer_name}" th:selected="${d.designer_name}==${dsname}"></option>
			</select>
			<input type="number" name="page" th:value="1" style="display:none;">
</form>
<button type="button" id="sortbtn"><i data-feather="search" id="sortbtn"></i></button>
</div>
        <!-- Demo content -->
        <h3 class="display-4 text-muted mb-3" style="font-size: 1.7rem; margin-top: -20px;">&nbsp;</h3>
        
        <div class="row">
            <div class="col-12">
                <p class="mobile text-muted">Click the names to see more data.</p>
                <table>
                    <thead>
                        <tr class="table-headers">
                            <th>메뉴 이름&nbsp;&nbsp;<i data-feather="list"></i></th>
                            <th>가격&nbsp;&nbsp;<i data-feather="shopping-bag"></i></th>
                            <th>사진&nbsp;&nbsp;<i data-feather="camera"></i></th>
                            <th class="c">수정&nbsp;&nbsp;<i data-feather="edit"></i></th>
                            <th class="c">삭제&nbsp;&nbsp;<i data-feather="x-square"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        
                        <tr th:each="i:${menulist}">
                            <td class="item_table_name" th:text="${i.item_name}"></td>
                            <th class="mobile-header">가격</th>
                            <td th:text="${#numbers.formatCurrency(i.item_price)}"></td>
                            <th class="mobile-header">사진</th>
                            <td  th:if="${i.item_photo == null}">없음</td>
                            <td  th:unless="${i.item_photo == null}"><img th:src="'/jyassets/img/'+${i.item_photo}" data-bs-toggle="modal" data-bs-target="#itemPhotoModal" class="itempic" title="사진을 클릭하시면 크게 볼 수 있습니다."></td>
                            <td class="c"><a th:href="@{/itemUpdatePage(id=${i.item_id})}"><i data-feather="edit" class="some-add-icon"></i></a></td>
                            <td class="c"><a th:href="@{/itemDelete(id=${i.item_id})}" onclick="return confirm('삭제하시겠습니까?');"><i data-feather="x-square" class="some-add-icon"></i></a></td>
                        </tr>
                      
                        <tr class='total'>
                            <th></th>
                            <td class="total-val" colspan="4"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="mygap-sm"></div>
                <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination">
    
  </ul>
</nav>
            </div>


        </div>
	<script>
	$(document).ready(function(){
  setTimeout(function(){
    $(document).ready(function() {
        $('.svg-inline').each(function() {    
            var $img = $(this),
                imgURL = $img.attr('src');
            $.get(imgURL, function(data) {
                // Get the SVG tag, ignore the rest
                var $svg = $(data).find('svg');            
                $svg = $svg.removeAttr('xmlns:a');
                $img.replaceWith($svg);
            }, 'xml');
          });
      });
    }, 1500);
   
});
	</script>

    <script>
	
        $(window).on('resize', function () {

            if ($(this).width() < 760) {
                $('tr td:first-child').click(function () {

                    $(this).siblings().css({ 'display': 'inline-block' });
                    $(this).parent().find('a').css({ 'display': 'none' });


                    var $this = $(this);
                    setTimeout(function () {
                        $this.siblings().css('transform', 'translateY(0)');
                    }, 0);

                    $('tr td:first-child').not($(this)).siblings().css({ 'display': 'none', 'transform': 'translateY(-9999px)' });
                });
            } else if ($(this).width() > 760) {
                //unbind click : name is not clickable when screen is > 700px
                $("tr td:first-child").unbind("click");
                //remove with jquery added styles
                $('tr td:first-child').siblings().css({ 'display': '', 'transform': '' });
            }

        }).resize();
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $(this).toggleClass('rotate');
            });
            $('.nav-item').on('click', function () {
                $('.nav-item').removeClass('active');
                $(this).addClass('active');
            });
        });
 
    </script>
    <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-83834093-1', 'auto');
	ga('send', 'pageview');

</script>

    <!-- Photo Modal -->
<div class="modal fade" id="itemPhotoModal" tabindex="-1" aria-labelledby="itemPhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="itemPhoto"></h1>
      </div>
      <div class="modal-body">
        <img id="itemPhotoBody" class="img-fluid" title="사진을 클릭하시면 창을 닫을 수 있습니다.">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
     

</div>

