<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ResvMapper">
	
	<select id="select" parameterType="Integer" resultType="Resv">
		SELECT * FROM resv WHERE resv_no=#{resv_no}
	</select>
	<select id="selectall" resultType="Resv">
		SELECT * FROM resv
	</select>
	<insert id="insert" parameterType="Resv">
		INSERT INTO resv VALUES (#{resv_no}, #{useremail}, #{dog_id}, #{designer_id}, #{item_id}, #{resv_ask}, #{resv_fix})
	</insert>
	<update id="update" parameterType="Resv">
		UPDATE resv SET resv_ask=#{resv_ask}, resv_fix=#{resv_fix} WHERE resv_no=#{resv_no}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM resv WHERE resv_no=#{resv_no}
	</delete>
	
	<select id="notFixed" resultType="Resv">
		SELECT * FROM resv WHERE resv_fix=0;
	</select>
	
	<select id="userResvCnt" parameterType="String" resultType="Integer">
		SELECT COUNT(r.resv_no) cnt FROM resv r
  		INNER JOIN schedule sc ON sc.resv_no = r.resv_no
   		WHERE r.useremail=#{r.useremail}
	</select>
	
	<select id="selectList" parameterType="Integer" resultType="Resv">
	SELECT r.resv_no, u.username, d.dog_name, ds.designer_name, i.item_name, sc.sc_date, r.resv_ask, r.resv_fix FROM resv r
	INNER JOIN user u ON u.useremail = r.useremail
	INNER JOIN dog d ON d.dog_id = r.dog_id
	INNER JOIN designer ds ON ds.designer_id = r.designer_id
	INNER JOIN item i ON i.item_id = r.item_id
    INNER JOIN schedule sc ON sc.resv_no = r.resv_no
    WHERE r.resv_no = #{resv_no}
	ORDER BY r.resv_no DESC;
	</select>
	
	<select id="resvList" parameterType="Integer" resultType="Resv">
	SELECT r.resv_no, u.username, d.dog_name, ds.designer_name, i.item_name, r.resv_fix FROM resv r
	INNER JOIN user u ON u.useremail = r.useremail
	INNER JOIN dog d ON d.dog_id = r.dog_id
	INNER JOIN designer ds ON ds.designer_id = r.designer_id
	INNER JOIN item i ON i.item_id = r.item_id
	ORDER BY r.resv_no DESC LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="scheduleList" resultType="Resv">
	SELECT r.resv_no, u.username, d.dog_name, ds.designer_name, i.item_name, sc.sc_date, r.resv_fix FROM resv r
	INNER JOIN user u ON u.useremail = r.useremail
	INNER JOIN dog d ON d.dog_id = r.dog_id
	INNER JOIN designer ds ON ds.designer_id = r.designer_id
	INNER JOIN item i ON i.item_id = r.item_id
    INNER JOIN schedule sc ON sc.resv_no = r.resv_no
	ORDER BY r.resv_no DESC;
	</select>
	
	
	<select id="dsScheduleList" parameterType="String" resultType="Resv">
	SELECT r.resv_no, u.username, d.dog_name, ds.designer_name, i.item_name, sc.sc_date, r.resv_fix FROM resv r
	INNER JOIN user u ON u.useremail = r.useremail
	INNER JOIN dog d ON d.dog_id = r.dog_id
	INNER JOIN designer ds ON ds.designer_id = r.designer_id
	INNER JOIN item i ON i.item_id = r.item_id
    INNER JOIN schedule sc ON sc.resv_no = r.resv_no
    WHERE r.designer_id = #{designer_id};
	</select>
	
	
	<update id="resvFixUpdate" parameterType="Integer">
	UPDATE resv SET resv_fix=#{resv_fix} WHERE resv_no=#{resv_no}
	</update>
	
	<update id="resvCancel">
	UPDATE resv SET resv_fix=2, cancel=#{cancel} WHERE resv_no=#{resv_no}
	</update>
	
	<select id="pagingResv" parameterType="Integer" resultType="Resv">
	SELECT r.resv_no, u.username, d.dog_name, ds.designer_name, i.item_name, r.resv_fix FROM resv r
	INNER JOIN user u ON u.useremail = r.useremail
	INNER JOIN dog d ON d.dog_id = r.dog_id
	INNER JOIN designer ds ON ds.designer_id = r.designer_id
	INNER JOIN item i ON i.item_id = r.item_id
	ORDER BY r.resv_no DESC LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="resvMonthChart" resultType="Integer">
	SELECT COUNT(*) cnt FROM (SELECT r.resv_no no, r.resv_fix rf, sc.sc_date date FROM resv r
	INNER JOIN schedule sc ON sc.resv_no = r.resv_no) rs 
	WHERE DATE_FORMAT(rs.date, '%Y-%c') = CONCAT(#{chartYear},'-',#{chartMonth}) AND rs.rf=#{resv_fix};
	</select>
	
	<select id="styleChart" resultType="Resv">
	SELECT item_name, item_id, (c.total/SUM(c.total) over() * 100) AS ratio
	FROM (SELECT i.item_name as item_name, i.item_id as item_id, COUNT(resv_no) AS total FROM resv 
	INNER JOIN item i ON i.item_id = resv.item_id
	GROUP BY i.item_id) AS c
	GROUP BY c.item_id
	</select>
	
	<select id="styleDogChart" resultType="Resv">
	SELECT dog_breed, (c.cnt/SUM(c.cnt) over() * 100) AS ratio
	FROM (SELECT d.dog_breed dog_breed, COUNT(i.item_id) AS cnt FROM resv
	INNER JOIN dog d ON d.dog_id = resv.dog_id
	INNER JOIN item i ON i.item_id = resv.item_id
	WHERE i.item_id = #{i.item_id}
	GROUP BY d.dog_breed) AS c
	GROUP BY c.dog_breed
	</select>
	
	<select id="userChart" resultType="Resv">
	SELECT u.useremail, u.username, COUNT(*) cnt FROM resv 
    INNER JOIN user u ON u.useremail = resv.useremail
    WHERE resv.resv_fix NOT IN (2)
    GROUP BY u.useremail
    ORDER BY cnt DESC
	</select>
	
	<select id="userResvChart" parameterType="Integer" resultType="Resv">
	SELECT u.useremail, u.username, r.resv_fix, COUNT(r.resv_fix) cnt FROM resv r
 	INNER JOIN user u ON u.useremail = r.useremail
 	WHERE r.resv_fix = #{r.resv_fix}
 	GROUP BY u.useremail
	</select>
	
	<select id="designerChart" resultType="Resv">
	SELECT ds.designer_name, ds.designer_id, COUNT(resv_fix) cnt From resv
    INNER JOIN designer ds ON ds.designer_id = resv.designer_id
    WHERE resv_fix NOT IN (#{resv_fix})
    GROUP BY designer_id
    ORDER BY cnt DESC;
	</select>
	
	<select id="designerMonthChart" resultType="Integer">
	SELECT COUNT(*) cnt FROM (SELECT r.resv_no no, r.resv_fix rf, sc.sc_date date, r.designer_id designer_id FROM resv r
	INNER JOIN schedule sc ON sc.resv_no = r.resv_no) rs 
	WHERE DATE_FORMAT(rs.date, '%Y-%c') = CONCAT(#{chartYear},'-',#{chartMonth}) AND rs.designer_id=#{rs.designer_id};
	</select>
	
	<select id="designerItemChart" parameterType="Integer" resultType="Resv">
	SELECT i.item_id, i.item_name, COUNT(resv.item_id) cnt from resv
    INNER JOIN item i ON i.item_id = resv.item_id
    WHERE resv.designer_id = #{designer_id}
    GROUP BY resv.item_id;
	</select>
	
	<!-- daekyeong add -->
	<select id="mailinformation" parameterType="Integer" resultType="Resv">
		SELECT d.dog_name, de.designer_name, i.item_name, res.cancel FROM resv res
		INNER JOIN dog d ON res.useremail = d.useremail
		INNER JOIN designer de ON de.designer_id = res.designer_id
		INNER JOIN item i ON i.item_id = res.item_id WHERE res.resv_no =#{resv_no}
	</select>
	
	<select id="cancelmailinfo" parameterType="Integer" resultType="Resv">
		SELECT res.resv_no, d.dog_name, de.designer_name, i.item_name, res.cancel FROM resv res
		INNER JOIN dog d ON res.dog_id = d.dog_id
		INNER JOIN designer de ON de.designer_id = res.designer_id
		INNER JOIN item i ON i.item_id = res.item_id WHERE res.resv_no =#{resv_no}
	</select>
	
	
	
</mapper>