<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salon.mapper.ScheduleMapper">
	
	<select id="select" parameterType="Integer" resultType="Schedule">
		SELECT * FROM schedule WHERE sc_id=#{sc_id}
	</select>
	<select id="selectall" resultType="Schedule">
		SELECT sc.sc_id, sc.designer_id, ds.designer_name, sc.resv_no, sc.sc_date FROM schedule sc
		INNER JOIN designer ds ON ds.designer_id = sc.designer_id;
	</select>
	<insert id="insert" parameterType="Schedule">
		INSERT INTO schedule VALUES (#{sc_id}, #{designer_id}, #{resv_no}, NOW() )
	</insert>
	<update id="update" parameterType="Schedule">
		UPDATE schedule SET sc_date=#{sc_date}WHERE sc_id=#{sc_id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM schedule WHERE sc_id=#{sc_id}
	</delete>
	
	<delete id="scheduleDel" parameterType="Integer">
		DELETE FROM schedule WHERE resv_no=#{resv_no}
	</delete>
	
	<select id="dsSchedule" parameterType="String" resultType="Schedule">
		SELECT * FROM schedule WHERE designer_id=#{designer_id}
	</select>
	
	<select id="dateData" parameterType="String" resultType="Schedule">
		SELECT * FROM schedule WHERE DATE_FORMAT(sc_date, '%Y-%m') = CONCAT(#{chartYear},#{chartMonth})
	</select>
	
	<!-- daekyeong add -->
	<select id="dateselect" resultType="Schedule">
		SELECT * FROM schedule WHERE resv_no=#{resv_no}
	</select>

	
	
</mapper>